@model Ardita.Models.DbModels.MstPage
@using Ardita.Models.ViewModels;
@using Ardita.Globals;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = Const.ViewStart;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Page</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(Const.Index, Const.Home)"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                User Management
            </li>
            <li class="active breadcrumb-item">
                <strong>Page</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>@ViewBag.TitlePageSubMenu</h5>
                    <div class="ibox-tools">
                        <a href="@Url.Action(Const.AddPage, Const.Menu, new { Area = Const.UserManage, Id = ViewBag.SubMenuId})" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i><span class="bold"> New</span></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="tblPage" class="table table-striped table-hover dataTables-example" style="width: 100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Action</th>
                                <th>Page Name</th>
                                <th>Path</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            bsCustomFileInput.init();
            var table = $('#tblPage').DataTable({
                processing: true,
                serverSide: true,
                filter: false,
                searching: false,
                lengthChange: false,
                ajax: {
                    "url": '@Url.Action("GetPageData", Const.Menu, new { Area = Const.UserManage})',
                    "type": "POST",
                    "datatype": "json",
                    "complete": function (xhr, responseText) {
                        console.log(xhr);
                        console.log(responseText); 
                    }
                },
                columns: [
                    {
                        "data": "pageId", 
                        "orderable": false, 
                        "searchable": false, 
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": "pageId",
                        "render": function (data, type, row, meta) {
                            var edit = `<a class="btn btn-sm btn-default" href="@Url.Action(Const.UpdatePage, Const.Menu, new { Area = Const.UserManage, Id = -1 })"><i class="fa fa-pencil"></i> </a>`;
                            edit = edit.replace("-1", data);

                            var remove = `<a class="btn btn-sm btn-danger" href="@Url.Action(Const.Remove, Const.Page, new { Area = Const.UserManage, Id = -1 })"><i class="fa fa-trash"></i> </a>`;
                            remove = remove.replace("-1", data);

                            var JoinButton = edit.concat(" ", remove);
                            return JoinButton;
                        }
                    },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "path", "name": "path", "autoWidth": true }
                ]
            });


        });
    </script>
}