@using Ardita.Extensions;
@using Ardita.Models.ViewModels;
@model Ardita.Models.DbModels.TrxTypeStorage;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = GlobalConst.ViewStart;
    FormModel form = Html.Form();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Type Storages</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new {Area = GlobalConst.General})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Master Data
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.TypeStorage, new {Area = GlobalConst.MasterData})">Master Type Storage</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@form.LastBreadcrumb</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Classification</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="formInput" role="form" enctype="multipart/form-data" asp-controller="@form.CurrentController" asp-area="@form.CurrentArea" asp-action="@form.FormAction">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <div class="form-group">
                                            <label>Archive Unit</label>
                                            <select asp-for="ArchiveUnitId" asp-items="ViewBag.listArchiveUnit" (form.isInput ? GlobalConst.Required : GlobalConst.Disabled)
                                                    id="txtArchiveUnit" class="select2_demo_1 form-control"
                                                    data-placeholder="-- Select Archive Unit --">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Type Storage Code</label>
                                            <input type="hidden" asp-for="TypeStorageId" value="@Model.TypeStorageId">
                                            <input type="text" placeholder="" id="txtTypeStorageCode" class="form-control" asp-for="TypeStorageCode">
                                        </div>
                                        <div class="form-group">
                                            <label>Type Storage Name</label>
                                            <input type="text" placeholder="" id="txtTypeStorageName" class="form-control" asp-for="TypeStorageName">
                                        </div>
                                        <div class="form-group" style="display: none">
                                            <label>Type Storage Volume</label>
                                            <input type="number" placeholder="" id="txtTypeStorageVolume" class="form-control" asp-for="Volume">
                                        </div>
                                        <div>
                                            <a href="@Url.Action(GlobalConst.Index, GlobalConst.TypeStorage, new {Area = GlobalConst.MasterData})" class="btn btn-sm btn-default float-right m-t-n-xs" id="btn-cancel">@Html.Raw(form.BackText)</a>
                                            @if (form.isSubmitForm)
                                            {
                                                <button onclick="onSubmit(this, event);" class="btn btn-sm @form.ButtonSubmitClass float-right m-t-n-xs mr-1" type="submit" id="btn-submit">@Html.Raw(form.SaveText)</button>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        
                                        @if (form.isInput)
                                        {
                                            <div class="form-group">
                                                <label>Gmd Header</label>
                                                <select asp-items="ViewBag.listGmd" (form.isInput ? GlobalConst.Required : GlobalConst.Disabled)
                                                        id="txtGmd" class="select2_demo_1 form-control"
                                                        data-placeholder="-- Select GMD --">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Gmd Detail</label>
                                                <select (form.isInput ? GlobalConst.Required : GlobalConst.Disabled)
                                                        id="txtGmdDetail" class="select2_demo_1 form-control"
                                                        data-placeholder="-- Select Gmd Detail --">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Size</label>
                                                <input type="text" placeholder="" id="txtSize" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn float-right m-t-n-xs btn-primary" id="btn-add-detail"><i class="fa fa-plus"></i> Add Detail</button>
                                            </div>
                                        }
                                        <table class="table table-striped table-hover dataTables-example mt-5" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th width="10%">Action</th>
                                                    <th>Gmd Detail Name</th>
                                                    <th>Size</th>
                                                    <th>Unit</th>
                                                </tr>
                                            </thead>
                                            <tbody class="detail">
                                            </tbody>
                                        </table>
                                        <input type="hidden" id="GmdDetailId">
                                        <input type="hidden" id="GmdDetailName">
                                        <input type="hidden" id="GmdUnit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        var isInput = @form.isInput.ToString().ToLower();
        $(function () {
            initForms("@form.CurrentAction");
            initDropdown();

            $("#btn-add-detail").click(function () {
                var valid = true;
                $('.gmdDetail').each(function () {
                    if ($(this).val().split('#')[0] == $("#GmdDetailId").val()) {
                        alert("GMD Detail sudah terpilih. Silahkan tambahkan GMD Detail Lain");
                        valid = false;
                    }
                });
                if (valid) {
                    initDetail($("#GmdDetailId").val(), $("#GmdDetailName").val(), $("#txtSize").val(), $("#GmdUnit").val());
                }
            });

            if ("@form.CurrentAction" != "@GlobalConst.Add") 
            {
                @foreach (var d in Model.TrxTypeStorageDetails)
                {
                    @:initDetail("@d.GmdDetailId", "@d.GmdDetail.Name", "@d.Size", "@d.GmdDetail.Unit");
                }
            }

        });

        function initDetail(gmdDetailId, name, size, unit) {
            if (name === "" || unit === "" || size === "") {
                alert("Please Input Gmd Header, Detail and Size");
                return false;
            }
            $(".detail").append(`<tr><td>${isInput ? '<i class="fa fa-trash" onclick="deleteRow(this)"></i>' : ''}</td><td>${name}<input class="gmdDetail" type="hidden" name="detail[]" value="${gmdDetailId}#${size}"></td><td>${size}</td><td>${unit}</td></tr>`);
        }

        function deleteRow(param) {
            $(param).closest('tr').remove();
            return false;
        }

        function initDropdown() {
            $('#txtGmd').on('change', function () {
                $('#txtGmdDetail').val('').trigger('change');
            });

            $('#txtGmdDetail').on('change', function () {
                if ($(this).val() == '') {
                    $("#GmdDetailId").val('');
                    $("#GmdDetailName").val('');
                    $("#GmdUnit").val('');
                    return false;
                }
                var url = '@Url.Action(GlobalConst.BindGmdDetailById, GlobalConst.TypeStorage, new { Area = GlobalConst.MasterData })';

                $.ajax({
                    url: url,
                    type: "@GlobalConst.GET",
                    data: { Id: $('#txtGmdDetail').val() },
                    dataType: "@GlobalConst.JSON",
                    contentType: "@GlobalConst.APPLICATIONJSON",
                    success: function (data) {
                        $("#GmdDetailId").val(data.gmdDetailId);
                        $("#GmdDetailName").val(data.name);
                        $("#GmdUnit").val(data.unit);
                    }
                });
            });

            $('#txtGmdDetail').select2({
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: '-- Select Sub Type Storage --',
                ajax: {
                    url: '@Url.Action(GlobalConst.BindGmdDetailByGmdId, GlobalConst.TypeStorage, new { Area = GlobalConst.MasterData })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            id: $('#txtGmd').val(),
                            param: params.term
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var dataResult = $.map(data, function (item) {
                            return {
                                text: item.name + ' - ' + item.unit,
                                id: item.gmdDetailId
                            }
                        });
                        return {
                            results: dataResult
                        };
                    }
                }
            });
         }


        function validate() {
            let result = true;

            if ($('#txtArchiveUnit').val() == "") {
                swal("Please select Archive Unit!");
                result = false;
            }
            if ($('#txtTypeStorageCode').val() == "") {
                swal("Please enter Type Storage Code!");
                result = false;
            }
            if ($('#txtTypeStorageName').val() == "") {
                swal("Please enter Type Storage Name!");
                result = false;
            }
            if ($('#txtTypeStorageVolume').val() == "") {
                swal("Please enter Type Storage Volume!");
                result = false;
            }

            return result;
        }

        function onSubmit(ctl, event) {
            event.preventDefault();
            swal({
                title: "Do You Want To @form.CurrentAction It?",
                text: "Please check Information before Submiting!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        if (validate() == true) {
                            $('.confirm').prop('disabled', true);
                            $('.cancel').prop('disabled', true);
                            $('.cancel').hide();
                            $("#formInput").submit();
                        }
                    } else {
                        swal("Cancelled", "You have Cancelled Form Submission!", "error");
                    }
                });
        }
    </script>
}