@model Ardita.Models.MenuModel;


<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/img/img-profile.png" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@User.FindFirst("EmployeeName").Value</span>
                        <span class="text-muted text-xs block">@User.FindFirst("RoleName").Value</span>
                    </a>
                   
                </div>
                <div class="logo-element">
                    AR
                </div>
            </li>
            @foreach(var menu in Model.menu)
            {
                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">@menu.Name </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @foreach(var subMenu in Model.subMenu.Where(x => x.MenuId == menu.MenuId))
                        {
                            <li><a href="@Url.Action("Index", subMenu.Path, new { Area = subMenu.Path })">@subMenu.Name</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>