@model Ardita.Models.DbModels.MstEmployee
@using Ardita.Models.ViewModels;
@using Ardita.Globals;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = Const.ViewStart;

    FormModel form = Html.Form();
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Data</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(Const.Index, Const.Employee, new {Area = Const.UserManage})">@Const.Employee</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Data</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Employee</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form role="form" id="frmEmployee" enctype="multipart/form-data" asp-controller="@form.CurrentController" asp-area="@form.CurrentArea" asp-action="@form.FormAction">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Employee NIK</label>
                                        <input type="hidden" asp-for="EmployeeId" />
                                        <input type="text" placeholder="" id="txtEmployeeNIK" class="form-control" asp-for="Nik">
                                    </div>
                                    <div class="form-group">
                                        <label>Employee Name</label>
                                        <input type="text" placeholder="" id="txtEmployeeName" class="form-control" asp-for="Name">
                                    </div>
                                    <div class="form-group">
                                        <label>Employee Email</label>
                                        <input type="text" placeholder="" id="txtEmployeeEmail" class="form-control" asp-for="Email">
                                    </div>
                                    <div class="form-group">
                                        <label>Employee Phone</label>
                                        <input type="text" placeholder="" id="txtEmployeeEmail" class="form-control" asp-for="Phone">
                                    </div>
                                    <div class="form-group">
                                        <label>Employee Gender</label>
                                        <select asp-for="Gender" id="txtEmployeeGender" id="employeeGender" class="select2_demo_1 form-control">
                                            <option value=""></option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Employee Place Of Birth</label>
                                        <input type="text" placeholder="" id="txtEmployeePlaceOfBirth" class="form-control" asp-for="PlaceOfBirth">
                                    </div>
                                    <div class="form-group" id="employeeDateOfBirth">
                                        <label>Employee Date Of Birth</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" id="txtEmployeeDateOfBirth" class="form-control" asp-for="DateOfBirth">
                                        </div>

                                    </div>
                                    <select asp-for="PositionId" asp-items="ViewBag.listPositions"
                                            id="txtPositionId" class="select2_demo_1 form-control"
                                            data-placeholder="-- Pilih Posisi --">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div>
                                    <a href="@Url.Action(Const.Index, Const.Employee, new { Area = Const.UserManage })" class="btn btn-sm btn-default float-right m-t-n-xs">@Html.Raw(form.BackText)</a>
                                    <button onclick="onSubmit(this, event);" class="btn btn-sm @form.ButtonSubmitClass float-right m-t-n-xs mr-1" type="submit">@Html.Raw(form.SaveText)</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            initForms("@form.CurrentAction");

            $("#txtEmployeePosition").select2({
                theme: 'bootstrap4',
            });
            $("#txtEmployeeGender").select2({
                theme: 'bootstrap4',
            });
            var mem = $('#employeeDateOfBirth .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });


        });
        function validate() {
            if ($('#txtEmployeeNIK').val() == "") {
                swal("Please enter Employee NIK !");
                return false;
            } else if ($('#txtEmployeeName').val() == "") {
                swal("Please enter Employee Name !");
                return false;
            } else if ($('#txtEmployeeGender').val() == "") {
                swal("Please enter Employee Gender!");
                return false;
            } else if ($('#txtEmployeePosition').val() == "") {
                swal("Please enter Employee Position !");
                return false;
            } else {
                return true;
            }
        }

        function onSubmit(ctl, event) {
            event.preventDefault();
            swal({
                title: "Do you want to save it?",
                text: "Please check Information before Submiting!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        if (validate() == true) {
                            $("#frmEmployee").submit();
                        }
                    } else {
                        swal("Cancelled", "You have Cancelled Form Submission!", "error");
                    }
                });
        }

    </script>
}