@model Ardita.Models.DbModels.TrxSubSubjectClassification
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Sub Subject Classification</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home", new {Area = "General"})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Master Data
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "ClassificationSubSubject", new {Area = "MasterData"})">Sub Subject Classification</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Sub Subject Classification</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frmPosition" role="form" enctype="multipart/form-data" asp-controller="ClassificationSubSubject" asp-area="MasterData" asp-action="Save">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Pencipta Arsip</label>
                                                <select id="txtCreatorId" class="select2_demo_1 form-control" asp-for="CreatorId" asp-items="ViewBag.listCreator" data-placeholder="-- Pilih Pencipta Arsip --"><option value=""></option></select>
                                            </div>
                                            <div class="form-group">
                                                <label>Jenis Klasifikasi</label>
                                                <select id="txtTypeClassificationId" class="select2_demo_1 form-control" asp-for="TypeClassificationId" asp-items="ViewBag.listClassificationType" data-placeholder="-- Pilih Jenis Klasifikasi --" required><option value=""></option></select>
                                            </div>
                                            <div class="form-group">
                                                <label>Klasifikasi</label>
                                                <select id="txtClassificationId" class="select2_demo_1 form-control" asp-for="ClassificationId" asp-items="ViewBag.listClassification" data-placeholder="-- Pilih Klasifikasi --" required><option value=""></option></select>
                                            </div>
                                            <div class="form-group">
                                                <label>Subjek Klasifikasi</label>
                                                <select id="txtSubjectlassificationId" class="select2_demo_1 form-control" asp-for="SubjectClassificationId" asp-items="ViewBag.listClassificationSubject" data-placeholder="-- Pilih Subjek Klasifikasi --" required><option value=""></option></select>
                                            </div>
                                            <div class="form-group">
                                                <label>Kode Subjek Klasifikasi</label>
                                                <input type="text" placeholder="" id="txtPositionClassificationName" class="form-control" asp-for="SubSubjectClassificationCode" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Nama Subject Klasifikasi</label>
                                                <input type="text" placeholder="" id="txtPositionClassificationName" class="form-control" asp-for="SubSubjectClassificationName" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Klasifikasi Keamanan</label>
                                                <select id="txtSecurityClassificationId" class="select2_demo_1 form-control" asp-for="SecurityClassificationId" asp-items="ViewBag.listSecurityClassification" data-placeholder="-- Pilih Klasifikasi Keamanan --"><option value=""></option></select>
                                            </div>
                                            <div class="form-group">
                                                <label>Retensi Aktif ( Bulan )</label>
                                                <input type="number" id="txtRetentionActive" class="form-control" asp-for="RetentionActive" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Retensi In Aktif ( Bulan )</label>
                                                <input type="number" id="txtRetentionInActive" class="form-control" asp-for="RetentionInactive" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Dasar Pertimbangan</label>
                                                <textarea id="txtBasicInformation" asp-for="BasicInformation" class="form-control" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-success btn-sm pull-right" style="margin-bottom:5px;" type="button" id="add"><i class="fa fa-plus"></i> Add</button>
                                        <table class="table table-condensed" style="border-radius: unset;width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Posisi</th>
                                                </tr>
                                            </thead>
                                            <tbody id="listdtl">
                                                <tr>
                                                    <td><button class="btn btn-danger btn-sm min" style="display:none" type="button" onclick="removeRow($(this))"><i class="fa fa-trash"></i></button></td>
                                                    <td style="width:95%">
                                                        <select class="select2_demo_1 form-control pos" name="posisi[]" asp-items="ViewBag.listPosition" data-placeholder="-- Pilih Posisi --" required><option value=""></option></select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                    <a href="@Url.Action("Index", "ClassificationSubSubject", new { Area = "MasterData" })" class="btn btn-sm btn-danger float-right m-t-n-xs">Cancel</a>
                                    <button class="btn btn-sm btn-primary float-right m-t-n-xs mr-1" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#add').off('click').on('click', function () {
                $(".pos").select2('destroy');
                var elClone = $('#listdtl').children("tr:first-child").clone();
                elClone.find('.pos').val('');
                elClone.appendTo("#listdtl");
                $('.min').show();
                $(".pos").select2({
                    theme: 'bootstrap4',
                    allowClear: true
                });
            });

            $('#txtTypeClassificationId').on('change', function () {
                $('#txtClassificationId').val('').trigger('change');
            });
            $('#txtClassificationId').on('change', function () {
                $('#txtSubjectlassificationId').val('').trigger('change');
            });

            $('#txtClassificationId').select2({
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: '-- Pilih Klasifikasi --',
                ajax: {
                    url: '@Url.Action("GetClassifictionIdByTypeId", "ClassificationSubject", new { Area = "MasterData" })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            id: $('#txtTypeClassificationId').val(),
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var dataResult = $.map(data, function (item) {
                            return {
                                text: item.classificationName,
                                id: item.classificationId
                            }
                        });
                        return {
                            results: dataResult
                        };
                    }
                }
            });
            $('#txtSubjectlassificationId').select2({
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: '-- Pilih Subjek Klasifikasi --',
                ajax: {
                    url: '@Url.Action("GetSubjectClassifictionIdByClassificationId", "ClassificationSubSubject", new { Area = "MasterData" })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            id: $('#txtClassificationId').val(),
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var dataResult = $.map(data, function (item) {
                            return {
                                text: item.subjectClassificationName,
                                id: item.subjectClassificationId
                            }
                        });
                        return {
                            results: dataResult
                        };
                    }
                }
            });
        });
    </script>
}