@using Ardita.Extensions;
@model Ardita.Models.DbModels.TrxRow
@using Ardita.Models.ViewModels;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = GlobalConst.ViewStart;
    FormModel form = Html.Form();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Row</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new {Area = GlobalConst.General})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Master Data
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Row, new {Area = GlobalConst.MasterData})">Row</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@form.LastBreadcrumb</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Row</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form id="frmRow" method="post" role="form" enctype="multipart/form-data" asp-controller="@form.CurrentController" asp-area="@form.CurrentArea" asp-action="@form.FormAction" )">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Unit Kearsipan</label>
                                        <input type="hidden" value="@Model.RowId" asp-for="RowId" />
                                        <select id="txtArchiveUnitId" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="Level.Rack.Room.Floor.ArchiveUnitId" asp-items="ViewBag.listArchiveUnits" data-placeholder="-- Pilih Unit Kearsipan --"><option value=""></option></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Lantai</label>
                                        <select id="txtFloorId" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="Level.Rack.Room.Floor.FloorId" asp-items="ViewBag.listFloors" data-placeholder="-- Pilih Lantai --"><option value=""></option></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Ruangan</label>
                                        <select id="txtRoomId" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="Level.Rack.Room.RoomId" asp-items="ViewBag.listRooms" data-placeholder="-- Pilih Ruangan --"><option value=""></option></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Rak</label>
                                        <select id="txtRackId" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="Level.Rack.RackId" asp-items="ViewBag.listRacks" data-placeholder="-- Pilih Rak --"><option value=""></option></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Tingkat</label>
                                        <select id="txtLevelId" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="LevelId" asp-items="ViewBag.listLevels" data-placeholder="-- Pilih Tingkat --"><option value=""></option></select>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label>Kode Baris</label>
                                        <input type="text" placeholder="" id="txtRowCode" class="form-control"  asp-for="RowCode" >
                                    </div>
                                    <div class="form-group">
                                        <label>Nama Baris</label>
                                        <input type="text" placeholder="" id="txtRowName" class="form-control" asp-for="RowName">
                                    </div>
                                </div>
                                <div>
                                    <a href="@Url.Action(GlobalConst.Index, GlobalConst.Row, new {Area = GlobalConst.MasterData})" class="btn btn-sm btn-default float-right m-t-n-xs">@Html.Raw(form.BackText)</a>
                                    @if (form.isSubmitForm)
                                    {
                                        <button onclick="onSubmit(this, event);"id="btn-submit" class="btn btn-sm @form.ButtonSubmitClass float-right m-t-n-xs mr-1" type="submit">@Html.Raw(form.SaveText)</button>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){
            initForms("@form.CurrentAction");
            initDropdown();
        });

        function onSubmit(ctl, event) {
            event.preventDefault();
            
            swal({
                title: "Do You Want To @form.CurrentAction It?",
                text: "Please check Information before Submiting!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                         $('.confirm').prop('disabled', true);
                            $('.cancel').prop('disabled', true);
                            $('.cancel').hide();
                            $("#frmRow").submit();
                    } else {
                        swal("Cancelled", "You have Cancelled Form Submission!", "error");
                    }
                });
        }

        function initDropdown() {
            $('#txtArchiveId').on('change', function () {
                $('#txtFloorId').val('').trigger('change');
            });

            $('#txtFloorId').select2({
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: '-- Select Floor --',
                ajax: {
                    url: '@Url.Action(GlobalConst.BindFloorsByArchiveUnitId, GlobalConst.Row, new { Area = GlobalConst.MasterData })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            id: $('#txtArchiveUnitId').val(),,
                            param: params.term
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var dataResult = $.map(data, function (item) {
                            return {
                                text: item.floorName,
                                id: item.floorId
                            }
                        });
                        return {
                            results: dataResult
                        };
                    }
                }
            });

            $('#txtFloorId').on('change', function () {
                $('#txtRoomId').val('').trigger('change');
            });
            $('#txtRoomId').select2({
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: '-- Select Floor --',
                ajax: {
                    url: '@Url.Action(GlobalConst.BindRoomByFloorId, GlobalConst.Row, new { Area = GlobalConst.MasterData })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            id: $('#txtFloorId').val(),
                            param: params.term
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var dataResult = $.map(data, function (item) {
                            return {
                                text: item.roomName,
                                id: item.roomId
                            }
                        });
                        return {
                            results: dataResult
                        };
                    }
                }
            });

            $('#txtRoomId').on('change', function () {
                $('#txtRackId').val('').trigger('change');
            });
            $('#txtRackId').select2({
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: '-- Select Floor --',
                ajax: {
                    url: '@Url.Action(GlobalConst.BindRackByRoomId, GlobalConst.Row, new { Area = GlobalConst.MasterData })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            id: $('#txtRoomId').val(),
                            param: params.term
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var dataResult = $.map(data, function (item) {
                            return {
                                text: item.rackName,
                                id: item.rackId
                            }
                        });
                        return {
                            results: dataResult
                        };
                    }
                }
            });

            $('#txtRackId').on('change', function () {
                $('#txtLevelId').val('').trigger('change');
            });
            $('#txtLevelId').select2({
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: '-- Select Floor --',
                ajax: {
                    url: '@Url.Action(GlobalConst.BindLevelByRackId, GlobalConst.Row, new { Area = GlobalConst.MasterData })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            id: $('#txtRackId').val(),
                            param: params.term
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var dataResult = $.map(data, function (item) {
                            return {
                                text: item.levelName,
                                id: item.levelId
                            }
                        });
                        return {
                            results: dataResult
                        };
                    }
                }
            });
        }
    </script>
}