@using Ardita.Extensions;
@model Ardita.Models.DbModels.MstUser
@using Ardita.Models.ViewModels;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = GlobalConst.ViewStart;
    FormModel form = Html.Form();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Change Password</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new {Area = GlobalConst.General})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Master Data
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.ChangePassword)">@GlobalConst.ChangePassword</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Change</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Change Password</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form id="frmChangePassword" method="post" role="form" enctype="multipart/form-data" asp-controller="@form.CurrentController" asp-action="Save" )">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="hidden" id="txtUserId" asp-for="UserId" value="@ViewBag.UserId" />
                                        <input type="text" class="form-control" id="txtUsername" asp-for="Username" value="@ViewBag.Username"disabled="" />
                                      </div>
                                    <div class="form-group">
                                        <label>Password Anda</label>
                                        <input type="password" placeholder="" id="txtPassword" class="form-control" asp-for="PasswordLast">
                                      </div>
                                    <div class="form-group">
                                        <label>Password Baru</label>
                                        <input type="password" placeholder="" id="txtPasswordNew" name="txtPasswordNew" class="form-control" asp-for="Password">
                                    </div>
                                    <div class="form-group">
                                        <label>Konfirmasi Password Baru</label>
                                        <input type="password" placeholder="" id="txtPasswordConfirm" class="form-control" name="txtPasswordConfirm">
                                    </div>
                                   
                                </div>
                                <div>
                                    <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new {Area = GlobalConst.General})" class="btn btn-sm btn-default float-right m-t-n-xs" id="btn-cancel">Back</a>
                                    <button type="button" onclick="onSubmit(this, event);" class="btn btn-sm btn-primary float-right m-t-n-xs mr-1" id="btn-submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
     <script type="text/javascript">
          function validate() {
            if ($('#txtPassword').val() == "") {
                swal("Silahkan Masukkan Password Anda !");
                return false;
            } else if ($('#txtPasswordNew').val() == "") {
                swal("Silahkan Masukkan Password Baru Anda");
                return false;
            }else if ($('#txtPasswordConfirm').val() == "") {
                swal("Silahkan Masukkan Konfirmasi Password Anda");
                return false;
            }else if ($('#txtPasswordNew').val() != $('#txtPasswordConfirm').val()) {
                swal("Password Baru dan Konfirmasi Password Tidak Sama!");
                return false;
            } else {
                return true;
            }
        }
        function checkPassword(){
            var userId = $('#txtUserId').val();
            var password = $('#txtPassword').val();
            $.ajax({
                url: '@Url.Action("FindPassword", "Authentication")',
                type: "@GlobalConst.GET",
                data: {
                    Id: userId,
                    Password: password
                },
                dataType: "@GlobalConst.JSON",
                contentType: "@GlobalConst.APPLICATIONJSON",
                success: function (data) {
                    console.log(data);
                    if(data){
                        $("#frmChangePassword").submit();
                    }else{
                        swal("Password Anda Salah!");
                        return false;
                    }
                     
                },
                error: function () {
                }
            });
        }
        function onSubmit(ctl, event) {
            event.preventDefault();
            swal({
                title: "Do You Want To @form.CurrentAction It?",
                text: "Please check Information before Submiting!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        if (validate() == true && checkPassword() == true) {
                            //$("#frmChangePassword").submit();
                        }
                    } else {
                        swal("Cancelled", "You have Cancelled Form Submission!", "error");
                    }
                });
        }
    </script>
    
}