@using Ardita.Extensions;
@using Ardita.Models.ViewModels;
@model Ardita.Models.DbModels.TrxArchiveUnit;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = GlobalConst.ViewStart;
    FormModel form = Html.Form();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Archive Unit</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new {Area = GlobalConst.General})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Master Data
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.ArchiveUnit, new {Area = GlobalConst.MasterData})">Master Archive Unit</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@form.LastBreadcrumb</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Classification</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="formInput" method="post" role="form" enctype="multipart/form-data" asp-controller="@form.CurrentController" asp-area="@form.CurrentArea" asp-action="@form.FormAction">
                                <div class ="row">
                                    <div class="col-sm-6 b-r">
                                        <div class="form-group">
                                            <label>Company</label>
                                            <select asp-for="CompanyId" asp-items="ViewBag.listCompany" (form.isInput ? GlobalConst.Required : GlobalConst.Disabled)
                                                    id="txtCompany" class="select2_demo_1 form-control"
                                                    data-placeholder="-- Select Company --">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Archive Unit Code</label>
                                            <input type="hidden" asp-for="ArchiveUnitId" value="@Model.ArchiveUnitId">
                                            <input type="text" placeholder="" id="txtArchiveUnitCode" class="form-control" asp-for="ArchiveUnitCode">
                                        </div>
                                        <div class="form-group">
                                            <label>Archive Unit Name</label>
                                            <input type="text" placeholder="" id="txtArchiveUnitName" class="form-control" asp-for="ArchiveUnitName">
                                        </div>
                                        <div class="form-group">
                                            <label>Archive Unit Address</label>
                                            <textarea type="text" placeholder="" id="txtArchiveUnitAddress" class="form-control" asp-for="ArchiveUnitAddress"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Archive Unit Telephone</label>
                                            <input type="text" placeholder="" id="txtArchiveUnitPhone" class="form-control" asp-for="ArchiveUnitPhone">
                                        </div>
                                        <div class="form-group">
                                            <label>Archive Unit Email</label>
                                            <input type="email" placeholder="" id="txtArchiveUnitEmail" class="form-control" asp-for="ArchiveUnitEmail">
                                        </div>
                                        <div class="form-group">
                                            <label>Latitude</label>
                                            <input type="number" placeholder="" id="txtLat" class="form-control" asp-for="Latitude">
                                        </div>
                                        <div class="form-group">
                                            <label>Longitude</label>
                                            <input type="number" placeholder="" id="txtLong" class="form-control" asp-for="Longitude">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div>
                                            <a href="@Url.Action(GlobalConst.Index, GlobalConst.ArchiveUnit, new {Area = GlobalConst.MasterData})" class="btn btn-sm btn-default float-right m-t-n-xs" id="btn-cancel">@Html.Raw(form.BackText)</a>
                                            @if (form.isSubmitForm)
                                            {
                                                <button onclick="onSubmit(this, event);" class="btn btn-sm @form.ButtonSubmitClass float-right m-t-n-xs mr-1" type="submit" id="btn-submit">@Html.Raw(form.SaveText)</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        console.log('@form.SaveText');
        $(function () {
            initForms("@form.CurrentAction");
        });

        function validate() {
            let result = true;

            if ($('#txtArchiveUnitCode').val() == "") {
                swal("Please enter archive unit Code !");
                result = false;
            }
            if ($('#txtArchiveUnitName').val() == "") {
                swal("Please enter archive unit Name !");
                result = false;
            }
            if ($('#txtCompany').val() == "") {
                swal("Please select Company !");
                result = false;
            }

            return result;
        }

        function onSubmit(ctl, event) {
            event.preventDefault();
            swal({
                title: "Do You Want To @form.CurrentAction It?",
                text: "Please check Information before Submiting!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        if (validate() == true) {
                            $('.confirm').prop('disabled', true);
                            $('.cancel').prop('disabled', true);
                            $('.cancel').hide();
                            $("#formInput").submit();
                        }
                    } else {
                        swal("Cancelled", "You have Cancelled Form Submission!", "error");
                    }
                });
        }
    </script>
}