@using Ardita.Extensions;
@using Ardita.Models.ViewModels;
@using System.Data;
@using Newtonsoft.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = GlobalConst.ViewStart;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Archive</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new { Area = GlobalConst.General })"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Archive Active
            </li>
            <li class="active breadcrumb-item">
                <strong>Archive</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Pencarian</h4>
                </div>
                <div class="ibox-content">
                    <div class="col-sm-8">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Periode Arsip</label>
                            <div class="col-lg-4">
                                <input type="date" id="txtStartDate" class="form-control" />
                            </div>
                            <div class="col-lg-1" style="text-align: center;padding: 6px;">
                                <strong>s/d</strong>
                            </div>
                            <div class="col-lg-4">
                                <input type="date" id="txtEndDate" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-success float-right m-t-n-xs" id="btnSearch"><i class="fa fa-filter"></i> Cari</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <form role="form" id="formSubmit" enctype="multipart/form-data" asp-controller="@GlobalConst.Archive" asp-area="@GlobalConst.ArchiveActive" asp-action="@GlobalConst.Submit">
                <div class="ibox-title">
                    <h5>Archive</h5>
                    <div class="ibox-tools">
                        <a href="@Url.Action(GlobalConst.Add, GlobalConst.Archive, new { Area = GlobalConst.ArchiveActive})" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i><span class="bold"> New</span></a>
                        <a href="@Url.Action(GlobalConst.Export, GlobalConst.Archive, new { Area = GlobalConst.ArchiveActive })" class="btn btn-sm btn-info" style="color:white !important"><i class="fa fa-download"></i><span class="bold"> Export</span></a>
                        <a href="@Url.Action(GlobalConst.UploadForm, GlobalConst.Archive, new { Area = GlobalConst.ArchiveActive })" class="btn btn-sm btn-success" style="color:white !important"><i class="fa fa-upload"></i><span class="bold"> Upload</span></a>
                        <a onclick="submitAll()" class="btn btn-sm btn-warning" style="color:white !important"><i class="fa fa-paper-plane"></i><span class="bold"> Submit Selected</span></a>
                        @*<a href="@Url.Action(GlobalConst.Submit, GlobalConst.Archive, new { Area = GlobalConst.ArchiveActive })" class="btn btn-sm btn-default" style="color:black !important"><i class="fa fa-filter"></i><span class="bold"> Advance Filter</span></a>*@
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="tbl" class="table table-striped table-hover dataTables-example" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Action</th>
                                <th>Nomor Arsip</th>
                                <th>Nomor Dokumen</th>
                                <th>Judul Arsip</th>
                                <th>Bentuk Media Arsip</th>
                                <th>Klasifikasi Keamanan</th>
                                <th>Unit Pencipta</th>
                                <th>Sub-subjek Klasifikasi</th>
                                <th>Status</th>
                                <th style="display:flex;flex-direction:column;text-align:center;padding-right:8px !important;border:none"><label for="checkAll" class="text-center">Pilih Semua </label><input type="checkbox" id="checkAll"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function submitAll(){
            swal({
                title: "Anda yakin ingin submit?",
                text: "Mohon periksa kembali sebelum submit!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $("#formSubmit").submit();
                    } else {
                        swal("Dibatalkan", "Anda telah membatalkan submit!", "error");
                    }
                });
        }

        $(document).ready(function () {

            $('#checkAll').on('change', function () {
                var checked = $(this).prop('checked');

                $(`.check`).each(function () {
                    $(this).prop('checked', checked);
                });
            });

            var notif = '@TempData[GlobalConst.Notification]';

            if (notif != '') {
                if (notif == '@GlobalConst.Success') {
                    swal({ title: "Success!", text: 'Berhasil Submit!', type: "success" });
                }else{
                    swal({ title: "Failed!", text: notif, type: "info" });
                }
            }

            bsCustomFileInput.init();

            var table = $('#tbl').DataTable({
                lengthMenu: [10,25,50,100,250,500,750,1000],
                processing: true,
                serverSide: true,
                scrollX: true,
                filter: true,
                ajax: {
                    "url": '@Url.Action(GlobalConst.GetData, GlobalConst.Archive, new { Area = GlobalConst.ArchiveActive})',
                    "type": "POST",
                    "datatype": "json"
                },
                columnDefs: [
                    {
                        width: 50, targets: 0
                    }, {
                        width: 100, targets: 1
                    }, {
                        width: 100, targets: 10
                    },
                    {
                        targets: [10],
                        className: `text-center`
                    },
                ],
                fixedColumns: true,
                order: [[0, 'desc']],
                columns: [
                    {
                        "data": "archiveId", "name": "createdDate", "orderable": false, "searchable": false, "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": "archiveId",
                        "render": function (data, type, row, meta) {
                            var detail = `<a class="btn btn-sm btn-warning" href="@Url.Action(GlobalConst.Detail, GlobalConst.Archive, new { Area = GlobalConst.ArchiveActive, Id = -1 })"><i class="fa fa-eye"></i> </a>`;
                            detail = detail.replace("-1", row.archiveId);

                            var edit = ``;

                            //if (row.statusId == 1) {
                                edit = `<a class="btn btn-sm btn-primary" href="@Url.Action(GlobalConst.Update, GlobalConst.Archive, new { Area = GlobalConst.ArchiveActive, Id = -1 })"><i class="fa fa-pencil"></i> </a>`;
                                edit = edit.replace("-1", row.archiveId);
                            //}

                            var remove = ``;
                            //if (row.statusId == 1) {
                                remove = `<a class="btn btn-sm btn-danger" href="@Url.Action(GlobalConst.Remove, GlobalConst.Archive, new { Area = GlobalConst.ArchiveActive, Id = -1 })"><i class="fa fa-trash"></i> </a>`;
                                remove = remove.replace("-1", row.archiveId);
                            //}
                            

                            var JoinButton = edit.concat(" ", detail).concat(" ", remove);
                            return JoinButton;
                        }
                    },
                    { "data": "archiveCode", "name": "archiveCode", "autoWidth": true },
                    { "data": "documentNo", "name": "documentNo", "autoWidth": true },
                    { "data": "titleArchive", "name": "titleArchive", "autoWidth": true },
                    { "data": "gmdName", "name": "gmd.gmdName", "autoWidth": true },
                    { "data": "securityClassificationName", "name": "securityClassification.securityClassificationName", "autoWidth": true },
                    { "data": "creatorName", "name": "creator.creatorName", "autoWidth": true },
                    { "data": "subSubjectClassificationName", "name": "subSubjectClassification.subSubjectClassificationName", "autoWidth": true },
                    {
                        "data": "status", "name": "status.name", "autoWidth": true, "render": function (data, type, row, meta) {
                            return `<span class="badge badge-pill center ${row.color}">${data}</span>`;
                        }
                    },
                    {
                        "data": "archiveId", "orderable": false, "searchable": false, "render": function (data, type, row, meta) {
                            return row.statusId == 1 ? `<input type="checkbox" class="check" value='${data}' name="listArchive[]" />` : '';
                        }
                    }
                ]
            });
        });
    </script>
}