@model Ardita.Models.DbModels.MstUser
@using Ardita.Models.DbModels;
@using Ardita.Models.ViewModels;
@using Ardita.Extensions;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = GlobalConst.ViewStart;

    FormModel form = Html.Form();
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Data</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.User, new { Area = GlobalConst.UserManage})">Users</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Data</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>User</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" id="frmUser" enctype="multipart/form-data" asp-controller="User" asp-area="UserManage" asp-action="@form.FormAction">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <div class="form-group">
                                            <label>Employee</label>
                                            <select asp-for="EmployeeId" id="txtEmployeeId" asp-items="ViewBag.listEmployees" class="select2_demo_1 form-control"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input type="text" placeholder="" id="txtUserName" class="form-control" asp-for="Username" autocomplete="off">
                                            <input type="hidden" asp-for="UserId" />
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="text" placeholder="" class="form-control mb-2 passwordUser" asp-for="Password" autocomplete="false" >
                                            <input class="check" type="checkbox" onclick="passwordVisibility()">&nbsp;&nbsp; Show Password
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Lokasi 
                                                @if (form.isInput)
                                                {
                                                    <i class="fa fa-plus-circle" style="color: blue;font-size:14px" onclick="addRow($(this))"></i>
                                                }
                                            </label>
                                            @if(ViewBag.subDetail.Count > 0)
                                            {
                                                foreach(IdxUserArchiveUnit item in ViewBag.subDetail)
                                                {
                                                    <div class="input-group">
                                                        @if (form.isInput)
                                                        {
                                                            <i class="fa fa-trash p-2 del" style="color: red; font-size:16px;@Html.Raw(ViewBag.subDetail.Count > 1 ? "" : "display:none")" onclick="removeRow($(this))"></i>
                                                        }
                                                        <div class="input-group-append" style="width:@Html.Raw(form.isInput ? "95" : "100")%">
                                                            <select asp-items="ViewBag.listArchiveUnit" onchange="checkDuplicate($(this))" data-placeholder="-- Pilih Lokasi --" name="archiveUnitIds[]" class="form-control au" selected><option value="@item.ArchiveUnitId">@(item.ArchiveUnit.ArchiveUnitCode + " - " + item.ArchiveUnit.ArchiveUnitName)</option></select>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="input-group">
                                                    @if (form.isInput)
                                                    {
                                                        <i class="fa fa-trash p-2 del" style="color: red; font-size:16px;display:none" onclick="removeRow($(this))"></i>
                                                    }
                                                    <div class="input-group-append" style="width:@Html.Raw(form.isInput ? "95" : "100")%">
                                                        <select asp-items="ViewBag.listArchiveUnit" onchange="checkDuplicate($(this))" value="" data-placeholder="-- Pilih Lokasi --" name="archiveUnitIds[]" class="form-control au"><option value=""></option></select>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div>
                                            <a href="@Url.Action(GlobalConst.Index, GlobalConst.User, new { Area = GlobalConst.UserManage })" class="btn btn-sm btn-default float-right m-t-n-xs">@Html.Raw(form.BackText)</a>
                                            @if (form.isSubmitForm)
                                            {
                                                <button onclick="onSubmit(this, event);" class="btn btn-sm @form.ButtonSubmitClass float-right m-t-n-xs mr-1" type="submit">@Html.Raw(form.SaveText)</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            initForms("@form.CurrentAction");

            $("#txtEmployeeId").select2({
                theme: 'bootstrap4',
            });
            initSelect2();

            var x = $(".passwordUser");
            x.prop("type", "password");
        });

        function passwordVisibility() {
            var x = $(".passwordUser");

            if (x.prop("type") === "password") {
                x.prop("type", "text");
            } else {
                x.prop("type", "password");
            }
        }

        function initSelect2() {
            $('.au').each(function () {
                $(this).select2({
                    minimumInputLength: 0,
                    theme: 'bootstrap4',
                    allowClear: true,
                    ajax: {
                        url: '@Url.Action(@GlobalConst.BindArchiveUnitsByParam, GlobalConst.User, new { Area = GlobalConst.UserManage })',
                        type: "POST",
                        data: function (params) {
                            var query = {
                                param: params.term == undefined ? '' : params.term
                            }
                            return query;
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        }
                    }
                });
            });
        }

        function validate() {
            if ($('#txtUserName').val() == "") {
                swal("Please enter Username !");
                return false;
            } else if ($('#txtEmployeeId').val() == "") {
                swal("Please enter Employee!");
                return false;
            } else {
                return true;
            }
        }

        function addRow(e){
            $('.au').select2('destroy');
            var cloning = e.parent().next().clone();
            cloning.find('.au').val('');
            e.parent().parent().append(cloning);
            initSelect2();
            $('.del').show();
        }
        function removeRow(e) {
            e.parent().remove();
            var countClass = $('.del').length;
            if(countClass == 1){
                $('.del').hide();
            }
        }
        function checkDuplicate(e) {
            var data = e.val();
            if (!e.hasClass('current')) {

                e.addClass('current');

                $('.au').each(function () {
                    if (!$(this).hasClass('current')) {
                        if (data == $(this).val()) {
                            swal({ title: "Failed!", text: 'Terdapat input duplikat', type: "info" }, function () {
                                e.val('').trigger('change');
                            });
                            return;
                        }
                    }
                });
            }
            e.removeClass('current');
        }

        function onSubmit(ctl, event) {
            event.preventDefault();
            swal({
                title: "Do you want to @form.CurrentAction it?",
                text: "Please check Information before @form.CurrentAction",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        if (validate() == true) {

                            var url = '@Url.Action("CheckUsername", form.CurrentController, new { Area = form.CurrentArea })';
                            var userName = $('#txtUserName').val();

                            $.ajax({
                                url: url,
                                type: "@GlobalConst.GET",
                                data: { id: userName },
                                dataType: "@GlobalConst.JSON",
                                contentType: "@GlobalConst.APPLICATIONJSON",
                                success: function (data) {
                                    if(data){
                                        swal("Username sudah ada!");
                                    }else{
                                        $("#frmUser").submit();
                                    }
                                },
                                error: function () {
                                    swal("Terdapat kesalahan Input");
                                }
                            });
                            
                        }
                    } else {
                        swal("Cancelled", "You have Cancelled Form Submission!", "error");
                    }
                });
        }
    </script>
}