@using Ardita.Globals;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perpanjangan Arsip</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Archive Active
            </li>
            <li class="active breadcrumb-item">
                <strong>Perpanjangan Arsip</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Perpanjangan Arsip</h5>
                    <div class="ibox-tools">
                        <a href="@Url.Action(Const.Add, Const.ArchiveExtend, new { Area = Const.ArchiveActive})" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i><span class="bold"> New</span></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="tbl" class="table table-striped table-hover dataTables-example" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Action</th>
                                <th>Nomor registrasi</th>
                                <th>Nama Perpanjangan</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            bsCustomFileInput.init();
            var table = $('#tbl').DataTable({
                processing: true,
                serverSide: true,
                scrollX: true,
                filter: true,
                ajax: {
                    "url": '@Url.Action(Const.GetData, Const.ArchiveExtend, new { Area = Const.ArchiveActive })',
                    "type": "POST",
                    "datatype": "json",
                    //"complete": function (xhr, responseText) {
                    //    console.log(xhr);
                    //    console.log(responseText); //*** responseJSON: Array[0]
                    //}
                },
                columnDefs: [
                    {
                        width: 50, targets: 0
                    }
                ],
                fixedColumns: true,
                columns: [
                    {
                        "data": "archiveExtendId", "orderable": false, "searchable": false, "render": function (data, type, row, meta) {
                            //console.log(row);
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    }, 
                    {
                        "data": "archiveExtendId", "orderable": false, "searchable": false,
                        "render": function (data, type, row, meta) {
                            var detail = `<a class="btn btn-sm btn-warning" href="@Url.Action(Const.Detail, Const.ArchiveExtend, new { Area = Const.ArchiveActive, Id = -1 })"><i class="fa fa-eye"></i> </a>`;
                            detail = detail.replace("-1", data);

                            var edit = row.statusId == @((int)Const.Status.ApprovalProcess) || row.statusId == @((int)Const.Status.Approved) ? '' : `<a class="btn btn-sm btn-default" href="@Url.Action(Const.Update, Const.ArchiveExtend, new { Area = Const.ArchiveActive, Id = -1 })"><i class="fa fa-pencil"></i> </a>`;
                            edit = edit.replace("-1", data);

                            var remove = row.statusId == @((int)Const.Status.ApprovalProcess) || row.statusId == @((int)Const.Status.Approved) ? '' : `<a class="btn btn-sm btn-danger" href="@Url.Action(Const.Remove, Const.ArchiveExtend, new { Area = Const.ArchiveActive, Id = -1 })"><i class="fa fa-trash"></i> </a>`;
                            remove = remove.replace("-1", data);

                            var submit = row.statusId == @((int)Const.Status.ApprovalProcess) || row.statusId == @((int)Const.Status.Approved) ? '' : `<a class="btn btn-sm btn-success" href="@Url.Action(Const.Preview, Const.ArchiveExtend, new { Area = Const.ArchiveActive, Id = -1 })"><i class="fa fa-paper-plane"></i> </a>`;
                            submit = submit.replace("-1", data);

                            var JoinButton = edit.concat(" ", detail).concat(" ", remove).concat(" ", submit);
                            return JoinButton;
                        }
                    },
                    { "data": "extendCode", "autoWidth": true },
                    { "data": "extendName", "autoWidth": true },
                    { "data": "status.name", "name": "titleArchive", "autoWidth": true },
                ]
            });
        });
    </script>
}