@using Ardita.Extensions;
@using Ardita.Models.DbModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new { Area = GlobalConst.General })"><i class="fa fa-home"></i></a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Dashboard</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" placeholder="Pencarian Arsip" class="form-control" id="Search" style="border-radius: 5px 0px 0px 5px !important" /> <span class="input-group-append">
                    <button class="btn btn-sm btn-warning" onclick="window.location.href = '@Url.Action("SearchActive", GlobalConst.Home, new { Areas = GlobalConst.General, keyword = "-1"})'.replace('-1', $('#Search').val())">Cari</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>User Pengolah</h5>
                </div>
                <div class="ibox-content text-center" style="min-height:100px;max-height:100px;display:flex;justify-content: space-between;">
                    <div style="display:flex;flex-direction:column">
                        <span style="font-size:30px">@ViewBag.userPengolah.Count</span>
                        <span style="font-size:9px">Total User</span>
                    </div>
                    <div style="padding-top: 43px;padding-left: 10px;">
                        <a style="font-size:9px" data-toggle="modal" data-target="#modalUserPengolah" href="">View Detail >></a>
                    </div>
                    <div class="modal inmodal" id="modalUserPengolah" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" style="width:80%;max-width:unset !important">
                            <div class="modal-content animated fadeIn">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Daftar User Pengolah</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <table id="tblUserPengolah" class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nama</th>
                                                    <th>Posisi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.userPengolah.Count > 0)
                                                {
                                                    count = 1;
                                                    foreach (IdxUserRole item in ViewBag.userPengolah)
                                                    {
                                                        <tr>
                                                            <td>@count</td>
                                                            <td style="text-align:left">@item.User.Employee.Name</td>
                                                            <td style="text-align:left">@item.User.Employee.Position.Name</td>
                                                        </tr>
                                                        {
                                                            count++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ruangan</h5>
                </div>
                <div class="ibox-content text-center" style="min-height:100px;max-height:100px;display:flex;justify-content: space-between;">
                    <div style="display:flex;flex-direction:column">
                        <span style="font-size:30px">@ViewBag.totalRoom.Count</span>
                        <span style="font-size:9px">Total Ruangan</span>
                    </div>
                    <div style="padding-top: 43px;padding-left: 10px;">
                        <a style="font-size:9px" data-toggle="modal" data-target="#modalRoom" href="">View Detail >></a>
                    </div>
                    <div class="modal inmodal" id="modalRoom" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" style="width:80%;max-width:unset !important">
                            <div class="modal-content animated fadeIn">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Daftar Ruangan</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <table id="tblRoom" class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nama Ruangan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.totalRoom.Count > 0)
                                                {
                                                    count = 1;
                                                    foreach (TrxRoom item in ViewBag.totalRoom)
                                                    {
                                                        <tr>
                                                            <td>@count</td>
                                                            <td style="text-align:left">@item.RoomName</td>
                                                        </tr>
                                                        {
                                                            count++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pencipta Arsip</h5>
                </div>
                <div class="ibox-content text-center" style="min-height:100px;max-height:100px;display:flex;justify-content: space-between;">
                    <div style="display:flex;flex-direction:column">
                        <span style="font-size:30px">@ViewBag.totalCreator.Count</span>
                        <span style="font-size:9px">Total Pencipta Arsip</span>
                    </div>
                    <div style="padding-top: 43px;padding-left: 10px;">
                        <a style="font-size:9px" data-toggle="modal" data-target="#modalCreator" href="">View Detail >></a>
                    </div>
                    <div class="modal inmodal" id="modalCreator" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" style="width:80%;max-width:unset !important">
                            <div class="modal-content animated fadeIn">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Daftar Pencipta Arsip</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <table id="tblCreator" class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nama Pencipta</th>
                                                    <th>Total Arsip</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.totalCreator.Count > 0)
                                                {
                                                    count = 1;
                                                    foreach (MstCreator item in ViewBag.totalCreator)
                                                    {
                                                        <tr>
                                                            <td>@count</td>
                                                            <td style="text-align:left">@item.CreatorName</td>
                                                            <td>@item.TrxArchives.Count()</td>
                                                        </tr>
                                                        {
                                                            count++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Media Penyimpanan</h5>
                </div>
                <div class="ibox-content text-center" style="min-height:100px;max-height:100px;display:flex;justify-content: space-between;">
                    <div style="display:flex;flex-direction:column;">
                        <span style="font-size:30px">@ViewBag.totalStorage</span>
                        <span style="font-size:9px">Total Media Penyimpanan</span>
                    </div>
                    <div style="padding-top: 43px;padding-left: 5px;width:100px">
                        <a style="font-size:9px" href="@Url.Action(GlobalConst.Index, GlobalConst.MediaStorage, new { Area = GlobalConst.ArchiveActive})">View Detail >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Lokasi Penyimpanan</h5>
                </div>
                <div class="ibox-content text-center p-md" style="min-height:200px">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td>No.</td>
                                        <td>Ruangan</td>
                                        <td>Jumlah Media Arsip</td>
                                    </tr>
                                </thead>
                                <tbody id="totalRoom">
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-center">
                                <canvas id="pieChart" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Jumlah Arsip</h5>
                </div>
                <div class="ibox-content text-center p-md" style="min-height:200px">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Ruangan</td>
                                <td>Internal</td>
                                <td>Eksternal</td>
                                <td>Total</td>
                            </tr>
                        </thead>
                        <tbody id="totalArchive">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Jumlah Arsip Berdasarkan Bentuk</h5>
                </div>
                <div class="ibox-content text-center p-md" style="min-height:200px">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Bentuk</td>
                                <td>Value</td>
                            </tr>
                        </thead>
                        <tbody id="totalGMD">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Jumlah Retensi</h5>
                </div>
                <div class="ibox-content text-center p-md" style="min-height:200px">
                    <div>
                        <canvas id="doughnutChart" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/chartJs/Chart.min.js"></script>

    <script>
        $(function () {
            initTotalRowUse();
            initTotalRoomUse();
            initTotalArhive();
            initTotalGMD();
            initTotalRetensi();
            $('.modal').find('.table').DataTable();

            $('#Search').on('keypress', function(e){
                if (e.which == 13) {
                    window.location.href = '@Url.Action("SearchActive", GlobalConst.Home, new { Areas = GlobalConst.General, keyword = "-1"})'.replace('-1', $(this).val());
                }
            });
        });

        function initTotalRowUse() {
            var url = '@Url.Action("BindTotalStorageUse", GlobalConst.Home, new { Area = GlobalConst.General })';

            ajaxcallreturn(url, 'GET', '', '', 'application/json; charset=UTF-8').then(function (result) {
                //var polarData = {
                //    datasets: [{
                //        data: [
                //            result.totalUse, result.totalAvailable
                //        ],
                //        backgroundColor: [
                //            "#a3e1d4", "#dedede"
                //        ],
                //        label: [
                //            "Statistik Penyimpanan"
                //        ]
                //    }],
                //    labels: [
                //        "Digunakan", "Tersedia"
                //    ]
                //};

                //var polarOptions = {
                //    segmentStrokeWidth: 2,
                //    responsive: true

                //};

                //var ctx3 = document.getElementById("polarChart").getContext("2d");
                //new Chart(ctx3, { type: 'polarArea', data: polarData, options: polarOptions });

                var pieData = {
                    labels: ["Digunakan", "Tersedia"],
                    datasets: [{
                        data: [result.totalUse, result.totalAvailable],
                        backgroundColor: ["#a3e1d4", "#dedede"]
                    }]
                };


                var pieOptions = {
                    responsive: true
                };


                var ctx5 = document.getElementById("pieChart").getContext("2d");
                new Chart(ctx5, { type: 'pie', data: pieData, options: pieOptions });
            });
        }

        function initTotalRoomUse() {
            var url = '@Url.Action("BindTotalRoomUseDetail", GlobalConst.Home, new { Area = GlobalConst.General })';

            ajaxcallreturn(url, 'GET', '', '', 'application/json; charset=UTF-8').then(function (result) {
                var no = 0;
                $.each(result, function (key, value) {
                    $('#totalRoom').append(`<tr><td>${++no}</td><td>${value.name}</td><td><span class="badge badge-primary" style="width:30%;">${value.totalUse}</span></td></tr>`)
                });
            });
        }

        function initTotalArhive() {
            var url = '@Url.Action("BindTotalArchiveType", GlobalConst.Home, new { Area = GlobalConst.General })';

            ajaxcallreturn(url, 'GET', '', '', 'application/json; charset=UTF-8').then(function (result) {
                var no = 0;
                $.each(result, function (key, value) {
                    $('#totalArchive').append(`<tr><td>${++no}</td><td>${value.name}</td><td>${value.totalInternal}</td><td>${value.totalEksternal}</td><td><span class="badge badge-primary" style="width:100%;">${value.total}</span></td></tr>`)
                });
            });
        }

        function initTotalGMD() {
            var url = '@Url.Action("BindTotalGMDActive", GlobalConst.Home, new { Area = GlobalConst.General })';

            ajaxcallreturn(url, 'GET', '', '', 'application/json; charset=UTF-8').then(function (result) {
                var no = 0;
                $.each(result, function (key, value) {
                    $('#totalGMD').append(`<tr><td>${++no}</td><td>${value.name}</td><td>${value.totalArchive}</td></tr>`)
                });
            });
        }

        function initTotalRetensi() {
            var url = '@Url.Action("BindTotalRetensi", GlobalConst.Home, new { Area = GlobalConst.General })';

            ajaxcallreturn(url, 'GET', '', '', 'application/json; charset=UTF-8').then(function (result) {

                var doughnutData = {
                    labels: ["Active", "Retensi", "Dipindahkan"],
                    datasets: [{
                        data: [result.active, result.retensi, result.move],
                        backgroundColor: ["#a3e1d4", "#dedede", "#4a4b4c"]
                    }]
                };


                var doughnutOptions = {
                    responsive: true
                };


                var ctx4 = document.getElementById("doughnutChart").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

            });
        }

    </script>
}
