@using Ardita.Extensions;
@using Ardita.Models.ViewModels;
@model Ardita.Models.DbModels.MstArchiveType;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = GlobalConst.ViewStart;
    FormModel form = Html.Form();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Archive Types</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new {Area = GlobalConst.General})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Master Data
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.ArchiveType, new {Area = GlobalConst.MasterData})">Master Archive Type</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@form.LastBreadcrumb</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Archive Type</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form id="formInput" role="form" enctype="multipart/form-data" asp-controller="@form.CurrentController" asp-area="@form.CurrentArea" asp-action="@form.FormAction">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Archive Type Code</label>
                                        <input type="hidden" asp-for="ArchiveTypeId">
                                        <input type="text" placeholder="" id="txtTypeCode" class="form-control" asp-for="ArchiveTypeCode">
                                    </div>
                                    <div class="form-group">
                                        <label>Archive Type Name</label>
                                        <input type="text" placeholder="" id="txtTypeName" class="form-control" asp-for="ArchiveTypeName">
                                    </div>
                                </div>
                                <div>
                                    <a href="@Url.Action(GlobalConst.Index, GlobalConst.ArchiveType, new {Area = GlobalConst.MasterData})" class="btn btn-sm btn-default float-right m-t-n-xs" id="btn-cancel">@Html.Raw(form.BackText)</a>
                                    @if (form.isSubmitForm)
                                    {
                                        <button onclick="onSubmit(this, event, @form.CurrentAction);" class="btn btn-sm @form.ButtonSubmitClass float-right m-t-n-xs mr-1" type="submit" id="btn-submit">@Html.Raw(form.SaveText)</button>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            initForms("@form.CurrentAction");
        });

        function validate() {
            let result = true;

            if ($('#txtTypeCode').val() == "") 
            {
                swal("Please enter Type Code !");
                result = false;
            } 
            if ($('#txtTypeName').val() == "") 
            {
                swal("Please enter Type Name !");
                result = false;
            }
            
            return result;
        }

        function onSubmit(ctl, event, currentAction) {
            event.preventDefault();
            swal({
                title: "Do You Want To " + currentAction + " It?",
                text: "Please check Information before Submiting!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        if (validate() == true) {
                            $('.confirm').prop('disabled', true);
                            $('.cancel').prop('disabled', true);
                            $('.cancel').hide();
                            $("#formInput").submit();
                        }
                    } else {
                        swal("Cancelled", "You have Cancelled Form Submission!", "error");
                    }
                });
        }

    </script>
}