@model Ardita.Areas.UserManage.Models.PageInsertViewModel
@using Ardita.Globals;
@using Ardita.Models.ViewModels;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    FormModel form = Html.Form();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Page</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                User Management
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Page", new {Area = "UserManage"})">Page</i></a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Update</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Page</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form" id="frmPage" enctype="multipart/form-data" asp-controller="Page" asp-area="UserManage" asp-action="Save">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Page Name</label>
                                                <input type="hidden" asp-for="page.PageId" value="@Model.page.PageId" />
                                                <input type="text" asp-for="page.Name" asp-for="page.Name" class="form-control" value="@Model.page.Name" />
                                            </div>
                                            @*<div class="form-group">
                                                <label>Page Path</label>
                                                <input type="text" asp-for="page.Path" asp-for="page.Path" class="form-control" value="@Model.page.Path" />
                                            </div>
                                            <div class="form-group">
                                                <label>Menu</label>
                                                <select id="txtMenu" class="select2_demo_1 form-control" asp-items="Model.MenuTypes"></select>
                                            </div>*@
                                            <div class="form-group">
                                                <label>Sub Menu</label>
                                                <select id="txtSubMenu" class="select2_demo_1 form-control" asp-for="page.SubmenuId" asp-items="Model.subMenuTypes"></select>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="@Url.Action("Index", "Page", new { Area = "UserManage" })" class="btn btn-sm btn-danger float-right m-t-n-xs">@Html.Raw(form.BackText)</a>
                                            <button class="btn btn-sm btn-primary float-right m-t-n-xs mr-1" type="submit">@Html.Raw(form.SaveText)</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-success btn-sm pull-right" style="margin-bottom:5px;" type="button" id="add"><i class="fa fa-plus"></i> Add</button>
                                        <input type="hidden" id="counttbl" value="1" />
                                        <table class="table table-condensed" style="border-radius: unset;width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Path Name</th>
                                                    <th>Page Path</th>
                                                </tr>
                                            </thead>
                                            <tbody id="listdtl">
                                                @if(Model.pageDetail.ToList().Count > 0)
                                                {
                                                    foreach (Ardita.Models.DbModels.MstPageDetail item in Model.pageDetail.ToList())
                                                    {
                                                        <tr>
                                                            <td><button class="btn btn-danger btn-sm min" @Html.Raw(Model.pageDetail.ToList().Count > 1 ? "" : "style='display:none'") type="button" onclick="removeRow($(this))"><i class="fa fa-trash"></i></button></td>
                                                            <td style="width:35%"><input type="text" name="namePath[]" class="form-control name" value="@item.Name" /></td>
                                                            <td style="width:60%"><input type="text" name="pagePath[]" class="form-control path" value="@item.Path" /></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        function removeRow(e) {
            e.parent().parent().remove();
            var countClass = $('.min').length;
            if (countClass < 2) {
                $('#listdtl').children("tr:first-child").children('td:first-child').children().hide();
            }
        }
        $(document).ready(function () {
            $("#txtMenu").select2({
                theme: 'bootstrap4',
            }).val('@Model.page.SubmenuId').trigger('change');

            $("#txtSubMenu").select2({
                theme: 'bootstrap4',
            }).val('@Model.page.SubmenuId').trigger('change');

            $("#txtPageName").select2({
                theme: 'bootstrap4',
            }).val('@Model.page.Name').trigger('change');

            $("#txtPagePath").select2({
                theme: 'bootstrap4',
            }).val('@Model.page.Path').trigger('change');
            $('#add').off('click').on('click', function () {
                var elClone = $('#listdtl').children("tr:first-child").clone();
                elClone.find('.name').val('');
                elClone.find('.path').val('');
                elClone.appendTo("#listdtl");
                $('.min').show();
            });
        });
    </script>
}