@model Ardita.Models.MenuModel
@using Ardita.Extensions

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" src="~/img/bks.png" width="100%" />
                </div>
                <div class="logo-element">
                    <img alt="image" src="~/img/bks.png" width="100%" />
                </div>
            </li>
            <li class="@Html.IsSelected(area: "General")">
                <a href="@Url.Action("Index", "Home", new { Area = "General" })"><i class="fa fa-home"></i> <span class="nav-label" data-i18n="nav.menulevels">Home</a>
            </li>
            @foreach (var menu in Model.menu)
            {
                <li class="@Html.IsSelected(area: menu.Path)">
                    <a href="#"><i class="fa @menu.Icon"></i> <span class="nav-label" data-i18n="nav.menulevels">@menu.Name </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        @foreach (var subMenu in Model.subMenu.Where(x => x.MenuId == menu.MenuId))
                        {
                            <li class="@Html.IsSelected(controller: subMenu.Path)"><a href="@Url.Action("Index", subMenu.Path, new { Area = menu.Path })">@subMenu.Name</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>