@using Ardita.Globals;
@using Ardita.Models.ViewModels;
@model Ardita.Models.DbModels.MstCreator;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = Const.ViewStart;
    FormModel form = Html.Form();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Archive Creators</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(Const.Index, Const.Home, new {Area = Const.General})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Master Data
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(Const.Index, Const.ArchiveCreator, new {Area = Const.MasterData})">Master Archive Creator</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@form.LastBreadcrumb</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Archive Creator</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form id="formInput" role="form" enctype="multipart/form-data" asp-controller="@form.CurrentController" asp-area="@form.CurrentArea" asp-action="@form.FormAction">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Creator</label>
                                        <select asp-for="ArchiveUnitId" asp-items="ViewBag.listArchiveUnit" (form.isInput ? Const.Required : Const.Disabled)
                                                id="txtArchiveUnitId" class="select2_demo_1 form-control"
                                                data-placeholder="-- Select Archive Unit --">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Archive Creator Code</label>
                                        <input type="hidden" asp-for="CreatorId" value="@Model.CreatorId">
                                        <input type="text" placeholder="" id="txtCreatorCode" class="form-control" asp-for="CreatorCode">
                                    </div>
                                    <div class="form-group">
                                        <label>Archive Creator Name</label>
                                        <input type="text" placeholder="" id="txtCreatorName" class="form-control" asp-for="CreatorName">
                                    </div>
                                </div>
                                <div>
                                    <a href="@Url.Action(Const.Index, Const.ArchiveCreator, new {Area = Const.MasterData})" class="btn btn-sm btn-danger float-right m-t-n-xs" id="btn-cancel">Cancel</a>
                                    <button onclick="onSubmit(this, event, @form.CurrentAction);" class="btn btn-sm btn-primary float-right m-t-n-xs mr-1" type="submit" id="btn-submit">@form.CurrentAction</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            initForms("@form.CurrentAction");
        });

        function validate() {
            let result = true;

            if ($('#txtCreatorCode').val() == "") 
            {
                swal("Please enter Creator Code !");
                result = false;
            } 
            if ($('#txtCreatorName').val() == "") 
            {
                swal("Please enter Creator Name !");
                result = false;
            }
            if ($('#txtArchiveUnitId').val() == "") {
                swal("Please select Archive Unit !");
                result = false;
            }
            
            return result;
        }

        function onSubmit(ctl, event, currentAction) {
            event.preventDefault();
            swal({
                title: "Do You Want To " + currentAction + " It?",
                text: "Please check Information before Submiting!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        if (validate() == true) {
                            $('.confirm').prop('disabled', true);
                            $('.cancel').prop('disabled', true);
                            $('.cancel').hide();
                            $("#formInput").submit();
                        }
                    } else {
                        swal("Cancelled", "You have Cancelled Form Submission!", "error");
                    }
                });
        }

    </script>
}