@using Ardita.Extensions;
@using Ardita.Models.ViewModels;
@model Ardita.Models.DbModels.TrxArchiveMovement
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = GlobalConst.ViewStart;

    FormModel form = Html.Form();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pemindahan Arsip</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new {Area = GlobalConst.General})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Archive Active
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.ArchiveMovement, new {Area = GlobalConst.ArchiveActive})">Pemindahan Arsip</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@form.LastBreadcrumb</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Sirkulasi Arsip</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" @Html.Raw(form.CurrentAction != GlobalConst.Add ? "style='pointer-events:none'" : "")>
                            <li>
                                <a class="nav-link active" href="@Url.Action(GlobalConst.Add, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive})">
                                    Pemindahan Arsip
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="@Url.Action(GlobalConst.Add, GlobalConst.ArchiveDestroy, new { Area = GlobalConst.ArchiveActive})">
                                    Pemusnahan Arsip
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form id="frmMovement" role="form" enctype="multipart/form-data" asp-controller="@form.CurrentController" asp-area="@form.CurrentArea" asp-action="@form.FormAction">
                                                <div class="row">
                                                    <div class="col-sm-6 b-r">
                                                        <div class="form-group">
                                                            <label>Kode Registrasi</label>
                                                            <input type="hidden" asp-for="ArchiveMovementId">
                                                            <input type="hidden" asp-for="ApproveLevel">
                                                            <input type="hidden" asp-for="ApproveMax">
                                                            <input type="hidden" asp-for="CreatedBy">
                                                            <input type="hidden" asp-for="CreatedDate">
                                                            <input type="hidden" asp-for="UpdatedBy">
                                                            <input type="hidden" asp-for="UpdatedDate">
                                                            <input type="hidden" asp-for="IsActive">
                                                            <input type="hidden" asp-for="StatusId">
                                                            <input type="text" placeholder="" id="txtCode" class="form-control" asp-for="MovementCode" readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Nomor Berita Acara</label>
                                                            <input type="text" placeholder="" id="txtDocNo" class="form-control" asp-for="DocumentCode" readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Judul</label>
                                                            <input type="text" placeholder="" id="txtName" class="form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="MovementName">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Lokasi</label>
                                                            <select asp-for="ArchiveUnitIdFrom" asp-items="ViewBag.listArchiveUnit"
                                                                    id="txtArchiveUnitId" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)"
                                                                    data-placeholder="-- Pilih Lokasi --">
                                                                <option value=""></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Tujuan</label>
                                                            <select asp-for="ArchiveUnitIdDestination" asp-items="ViewBag.listArchiveUnitAll"
                                                                    id="txtArchiveUnitAllId" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)"
                                                                    data-placeholder="-- Pilih Lokasi --">
                                                                <option value=""></option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Jenis Penyimpanan</label>
                                                            <select id="txtTypeStorageId" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="TypeStorageId" asp-items="ViewBag.listTypeStorage" data-placeholder="-- Pilih Jenis Media Penyimpanan --"><option value=""></option></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>GMD Detail</label>
                                                            <select id="txtGMDDetail" onchange="getGMDDetail($(this))" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="GmdDetailId" asp-items="ViewBag.listGMDDetail" data-placeholder="-- Pilih Bentuk Media Penyimpanan --"><option value=""></option></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Unit</label>
                                                            <input readonly type="text" class="form-control" id="txtUnit" value="@Model.GmdDetail.Unit" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Total Volume</label>
                                                            <input readonly type="text" placeholder="" id="txtTotal" class="form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="TotalVolume">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Sisa Volume</label>
                                                            <input readonly type="text" placeholder="" id="txtSisa" class="form-control" asp-for="DifferenceVolume">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Jadwal Pemindahan</label>
                                                            <input type="date" id="txtSchedule" min="@(DateTime.Now.ToString("yyyy-MM-dd"))" class="form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="DateSchedule">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Deskripsi</label>
                                                            <textarea placeholder="" id="txtDesc" class="form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" asp-for="Description"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-success btn-sm pull-right" style="margin-bottom:5px;" type="button" onclick="addRow($(this), 'apr')" id="addApr" @Html.Raw(form.isInput ? string.Empty : GlobalConst.Hidden)><i class="fa fa-plus"></i> Tambah Approval</button>
                                                        <table class="table table-condensed" style="border-radius: unset;width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Persetujuan</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="listdtlApr">
                                                                @if (ViewBag.approval.Count > 0)
                                                                {
                                                                    foreach (Ardita.Models.DbModels.TrxApproval item in ViewBag.approval)
                                                                    {
                                                                        <tr>
                                                                            <td><button class="btn btn-default btn-sm minApr" @Html.Raw(form.isInput ? string.Empty : GlobalConst.Hidden) @Html.Raw(ViewBag.approval.Count > 1 ? string.Empty : "style='display:none'") type="button" onclick="removeRow($(this), 'Apr')"><i class="fa fa-trash"></i></button></td>
                                                                            <td style="width:95%">
                                                                                <select onchange="checkDuplicate($(this), 'apr')" class="select2_demo_1 form-control apr @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" name="approval[]" asp-items="ViewBag.listApproval" data-placeholder="-- Pilih Approval --"><option value="@item.EmployeeId" selected>@item.Employee.Name</option></select>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td><button class="btn btn-default btn-sm minApr" @Html.Raw(form.isInput ? string.Empty : GlobalConst.Hidden) style="display:none" type="button" onclick="removeRow($(this), 'Apr')"><i class="fa fa-trash"></i></button></td>
                                                                        <td style="width:95%">
                                                                            <select onchange="checkDuplicate($(this), 'apr')" class="select2_demo_1 form-control apr @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)" name="approval[]" asp-items="ViewBag.listApproval" data-placeholder="-- Pilih Approval --"><option value=""></option></select>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                @if (form.isInput)
                                                {
                                                    <div class="row border-top pt-3">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Sub-Subjek Klasifikasi</label>
                                                                <select asp-items="ViewBag.listSubSubject"
                                                                        id="txtSubSubjectClassificationId" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)"
                                                                        data-placeholder="-- Pilih Sub-Subjek Klasifikasi --">
                                                                    <option value=""></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Tahun Arsip</label>
                                                                <select id="txtYear" class="select2_demo_1 form-control @Html.Raw(form.isInput ? GlobalConst.Required : GlobalConst.Disabled)"
                                                                        data-placeholder="-- Pilih Tahun Arsip --">
                                                                    <option value=""></option>
                                                                    @for (int i = -20; i < 0; i++)
                                                                    {
                                                                        <option value="@DateTime.Now.AddYears(i).ToString("yyyy")">@DateTime.Now.AddYears(i).ToString("yyyy")</option>
                                                                    }
                                                                    @if (form.CurrentAction == GlobalConst.Add)
                                                                    {
                                                                        <option value="@DateTime.Now.ToString("yyyy")" selected>@DateTime.Now.ToString("yyyy")</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@DateTime.Now.ToString("yyyy")">@DateTime.Now.ToString("yyyy")</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 archive-div">
                                                            <div class="form-group">
                                                                <label>Arsip</label>
                                                                <select id="txtArchive" onchange="bindCreatorAndVolume($(this))" class="select2_demo_1 form-control ars @Html.Raw(form.isInput ? string.Empty : GlobalConst.Disabled)" data-placeholder="-- Pilih Arsip --"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 archive-div">
                                                            <div class="form-group">
                                                                <label>Pemilik</label>
                                                                <input readonly type="text" class="form-control creator" id="txtCreator" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 archive-div">
                                                            <div class="form-group">
                                                                <label>Volume</label>
                                                                <input readonly type="text" class="form-control volume" id="txtVolume" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-success btn-sm pull-right" style="margin-bottom:5px;" type="button" onclick="addRow($(this), 'ars')" id="addArs" @Html.Raw(form.isInput ? string.Empty : GlobalConst.Hidden)><i class="fa fa-plus"></i> Tambah Arsip</button>
                                                        <table class="table table-condensed" style="border-radius: unset;width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Arsip</th>
                                                                    <th>Pemilik</th>
                                                                    <th>Volume</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="listdtlArs">
                                                                @if (ViewBag.subDetail.Count > 0)
                                                                {
                                                                    foreach (Ardita.Models.DbModels.TrxArchiveMovementDetail item in ViewBag.subDetail)
                                                                    {
                                                                        <tr>
                                                                            <td class="text-center"></td>
                                                                            <td class="text-left">
                                                                                <input type="text" class="form-control" style="border: none !important;" value="@item.Archive.TitleArchive" readonly />
                                                                                <input type="hidden" class="" style="border: none !important;" name="archive[]" value="@item.ArchiveId" />
                                                                            </td>
                                                                            <td class="text-left">
                                                                                <input class="form-control" style="border: none !important;" name="creator[]" value="@item.Archive.Creator.CreatorName" readonly />
                                                                            </td>
                                                                            <td class="text-left">
                                                                                <input class="form-control" style="border: none !important;" name="volume[]" value="@item.Archive.Volume" readonly />
                                                                            </td>
                                                                            <td>
                                                                                @if (form.isInput)
                                                                                {
                                                                                <button class="btn btn-danger remove" type="button">Remove</button>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div>
                                                    @if (form.CurrentAction == GlobalConst.Approval)
                                                    {
                                                        <a href="@Url.Action(GlobalConst.Index, GlobalConst.ArchiveApproval, new {Area = GlobalConst.ArchiveActive})" class="btn btn-sm btn-default float-right m-t-n-xs">@Html.Raw(form.BackText)</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action(GlobalConst.Index, GlobalConst.ArchiveCirculation, new {Area = GlobalConst.ArchiveActive})" class="btn btn-sm btn-default float-right m-t-n-xs">@Html.Raw(form.BackText)</a>
                                                    }
                                                    @if (form.isSubmitForm)
                                                    {
                                                        if (form.CurrentAction != GlobalConst.Approval)
                                                        {
                                                            <button class="btn btn-sm @form.ButtonSubmitClass float-right m-t-n-xs mr-1" type="submit">@(form.CurrentAction == GlobalConst.Preview ? Html.Raw(form.SubmitText) : Html.Raw(form.SaveText))</button>
                                                        }

                                                        if (form.CurrentAction == GlobalConst.Approval && ViewBag.level == Model.ApproveLevel)
                                                        {
                                                            <input type="hidden" name="@GlobalConst.Approval" id="valueSubmit">
                                                            <button onclick="onApprove(this, event);" class="btn btn-sm @form.ButtonSubmitClass float-right m-t-n-xs mr-1" type="button" id="btnApprove" value="@GlobalConst.Approve">@Html.Raw(form.ApprovalText)</button>
                                                            <button onclick="onApprove(this, event);" class="btn btn-sm btn-danger float-right m-t-n-xs mr-1" style="display:none" id="btnReject" type="button" value="@GlobalConst.Reject">@Html.Raw(form.RejectText)</button>
                                                            <button class="btn btn-sm btn-danger float-right m-t-n-xs mr-1" type="button" onclick="showReason(this.id)" id="btnReason">@Html.Raw(form.RejectText)</button>
                                                            <button class="btn btn-sm btn-warning float-right m-t-n-xs mr-1" style="display:none" type="button" onclick="showReason(this.id)" id="btnRefresh">@Html.Raw($"{GlobalConst.IconRefresh}{GlobalConst.Cancel} {GlobalConst.Reject}")</button>
                                                            <div style="width:100%;display:flex;justify-content:end">
                                                                <div style="width:30%;">
                                                                    <br />
                                                                    <textarea asp-for="Note" class="form-control" placeholder="Alasan Reject" id="txtNote"></textarea>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">

        function showReason(e) {
            if (e.toLowerCase() == 'btnreason') {
                $('#txtNote').show().prop('required', true).next().show();;
                $('#btnReject').show();
                $('#btnApprove').hide();
                $('#btnReason').hide();
                $('#btnRefresh').show();
            } else {
                $('#txtNote').hide().val('').prop('required', false).next().hide();;
                $('#btnReject').hide();
                $('#btnApprove').show();
                $('#btnReason').show();
                $('#btnRefresh').hide();
            }
        }

        function addRow(e, name) {

            var volume_gmd = $('#txtSisa').val();
            var volume_archive = $('#txtVolume').val();

            var volume_total = parseInt(volume_gmd) - parseInt(volume_archive);
            var duplicate = false;

            $('.arc-row').each(function(){
                if($(this).val() == $('#txtArchive').val()){
                    swal({ title: "Failed!", text: 'Terdapat input duplikat', type: "info" }, function () {
                        $('#txtArchive').val('').trigger('change');
                        $('#txtVolume').val('');
                        $('#txtCreator').val('');
                    });
                    duplicate = true;
                    return;
                }
            });

            if (volume_total < 0) {
                swal({ title: "Failed!", text: 'Volume Melebihi Kapasitas, Harap pilih Arsip lain!', type: "info" }, function () {
                    $('#txtArchive').val('').trigger('change');
                    $('#txtVolume').val('');
                    $('#txtCreator').val('');
                });
            }else{
                if(!duplicate){
                    var arsipId = $('#txtArchive').val();
                    var arsipDesc = $('#txtArchive').select2('data')[0].text;
                    var creator = $('#txtCreator').val();
                    var volume = $('#txtVolume').val();

                    $('#txtSisa').val(volume_total);
                    $('#listdtlArs').append(`<tr name="detailRow[]">
                                                             <td class="text-center"></td>
                                                             <td class="text-left">
                                                                 <input type="text" class="form-control" style="border: none !important;" value="${arsipDesc}" readonly />
                                                                 <input type="hidden" class="form-control arc-row" style="border: none !important;" name="archive[]" value="${arsipId}" />
                                                             </td>
                                                              <td class="text-left">
                                                                            <input class="form-control" style="border: none !important;" name="creator[]" value="${creator}" readonly />
                                                              </td>
                                                              <td class="text-left">
                                                                 <input class="form-control volume-row" style="border: none !important;" name="volume[]" value="${volume}" readonly />
                                                              </td>
                                                              <td>
                                                                         <button class="btn btn-danger remove" type="button">Remove</button>
                                                              </td>
                                            </tr>`);
                }
            
            }

           
 
        }

        function removeRow(e, name) {
            e.parent().parent().remove();
            var countClass = $(`.min${name}`).length;
            if (countClass < 2) {
                $(`#Add${name}`).children("tr:first-child").children('td:first-child').children().hide();
            }
            if (countClass == 1) {
                $('.minArs').hide();
            }
        }

        function initSelect2(name, act) {
            $(`.${name}`).each(function () {
                $(this).select2({
                    minimumInputLength: 0,
                    theme: 'bootstrap4',
                    allowClear: true,
                    ajax: {
                        url: '@Url.Action("action", GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive })'.replace('action', act),
                        type: "POST",
                        data: function (params) {
                            var query = {
                                param: act == '@GlobalConst.BindArchiveRetentionByParam' ? `${params.term == undefined ? '' : params.term},${'@Model.ArchiveMovementId'},${'@GlobalConst.ArchiveMovement'},${$('#txtSubSubjectClassificationId').val()},${$('#txtYear').val()}` : `${params.term == undefined ? '' : params.term},${$('#txtArchiveUnitId').val()}`
                            }
                            return query;
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        }
                    }
                });
            });
        }

        function initGMD() {
            
            $('#txtGMDDetail').select2({
                minimumInputLength: 0,
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    url: '@Url.Action(GlobalConst.BindGMDDetailByTypeStorageId, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            param: params.term, id : $('#txtTypeStorageId').val()
                        }
                        return query;
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                }
            });
        }

        function checkDuplicate(e, name) {

            if ($('#txtSisa').val() == '') {
                swal({ title: "Failed!", text: 'Harap Pilih Jenis Penyimpanan Terlebih Dahulu', type: "info" }, function () {
                    e.val('').trigger('change');
                    e.parent().next().children('.creator').val('');
                    e.parent().next().next().children('.volume').val('');
                });
                return;
            }

            var Id = e.val();
            if (!e.hasClass('current')) {

                e.addClass('current');

                var totalVolume = 0;

                if (e.hasClass(name)) {
                    $(`.${name}`).each(function () {
                        if (!$(this).hasClass('current')) {
                            if (Id == $(this).val()) {
                                swal({ title: "Failed!", text: 'Terdapat input duplikat', type: "info" }, function () {
                                    e.val('').trigger('change');
                                    e.parent().next().children('.creator').val('');
                                    e.parent().next().next().children('.volume').val('');
                                });
                                return;
                            }
                        }

                        totalVolume += $(this).parent().next().next().children('.volume').val() == '' ? 0 : parseInt($(this).parent().next().next().children('.volume').val());
                    });
                }

                if (name == 'ars') {
                    getArchiveDetail(e, Id, totalVolume);
                }

            }
            e.removeClass('current');
        }

        function getArchiveDetail(e, Id, totalVolume) {
            if(Id != ''){
                var url = '@Url.Action("GetDetailArchive", GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive })';
                var param = new Object();
                param.Id = Id;

                ajaxcallreturn(url, 'POST', param, '', 'application/json; charset=UTF-8').then(function (result) {
                    if(result != null){

                        var sisa = parseInt($('#txtSisa').val());

                        var totalVolume = result.volume;

                        if (totalVolume > sisa) {
                            swal({ title: "Failed!", text: 'Volume Melebihi Kapasitas, Harap pilih Arsip lain!', type: "info" }, function () {
                                e.val('').trigger('change');
                            });
                            return;
                        }

                        $('#txtCreator').val(result.creator.creatorName);
                        $('#txtVolume').val(result.volume);

                        sisa -= result.volume;
                        $('#txtSisa').val(sisa);
                    }
                });
            }
        }

        function getTypeStorageDetail(e) {
            var url = '@Url.Action("BindGMDDetailByTypeStorageId", GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive })';
            var param = new Object();
            param.Id = e.val();

            ajaxcallreturn(url, 'POST', param, '', 'application/json; charset=UTF-8').then(function (result) {

                var totalVolume = 0;
                $(`.volume`).each(function () {
                    totalVolume += $(this).val() == '' ? 0 : parseInt($(this).val());
                });

                if (totalVolume > result.volume) {
                    swal({ title: "Failed!", text: 'Volume Melebihi Kapasitas, Harap pilih Jenis Penyimpanan lain!', type: "info" }, function () {
                        e.val('').trigger('change');
                        $('#txtTotal').val('');
                        $('#txtSisa').val('');
                    });
                    return;
                }

                var sisa = result.volume - totalVolume;

                $('#txtTotal').val(result.volume);
                $('#txtSisa').val(sisa);
            });
        }

        function getGMDDetail(e) {
            var url = '@Url.Action("BindGMDDetailVolumeByTypeStorageId", GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive })';
            var param = new Object();
            param.TypeStorageId = $('#txtTypeStorageId').val();
            param.GMDDetailId = e.val();

            ajaxcallreturn(url, 'POST', param, '', 'application/json; charset=UTF-8').then(function (result) {
                console.log(result[0].volume);

                var rVolume = result[0].volume;
                var totalVolume = 0;
                $(`.volume`).each(function () {
                    totalVolume += $(this).val() == '' ? 0 : parseInt($(this).val());
                });

                if (totalVolume > rVolume) {
                    swal({ title: "Failed!", text: 'Volume Melebihi Kapasitas, Harap pilih Jenis Penyimpanan lain!', type: "info" }, function () {
                        e.val('').trigger('change');
                        $('#txtTotal').val('');
                        $('#txtSisa').val('');
                    });
                    return;
                }

                var sisa = rVolume - totalVolume;

                $('#txtTotal').val(rVolume);
                $('#txtSisa').val(sisa);
                $('#txtUnit').val(result[0].unit);
            });
        }
        
        function bindCreatorAndVolume(e){
            var Id = e.val();
            if (Id != '') {
                var url = '@Url.Action("GetDetailArchive", GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive })';
                var param = new Object();
                param.Id = Id;

                ajaxcallreturn(url, 'POST', param, '', 'application/json; charset=UTF-8').then(function (result) {
                    if (result != null) {

                        var sisa = parseInt($('#txtSisa').val());

                        var totalVolume = result.volume;

                        if (totalVolume > sisa) {
                            swal({ title: "Failed!", text: 'Volume Melebihi Kapasitas, Harap pilih Arsip lain!', type: "info" }, function () {
                                e.val('').trigger('change');
                            });
                            return;
                        }

                        $('#txtCreator').val(result.creator.creatorName);
                        $('#txtVolume').val(result.volume);

                        //sisa -= result.volume;
                        //$('#txtSisa').val(sisa);
                    }
                });
            }
        }
        function onApprove(ctl, event) {
            event.preventDefault();
            var valSubmit = ctl.value;
            if(valSubmit == '@GlobalConst.Reject' && $('#txtNote').val() == ''){
                swal("Failed", "Harap isi alasan reject!", "error");
            }else{
                swal({
                    title: "Do You Want To Approve It?",
                    text: "Please check Information before Submiting!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Approve",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#valueSubmit').val(valSubmit);
                            $("#frmMovement").submit();
                        } else {
                            swal("Cancelled", "You have Cancelled Form Submission!", "error");
                        }
                    });
            }
        }
        $(document).ready(function () {
            $('#txtNote').hide().next().hide();

            if ('@form.CurrentAction' == '@GlobalConst.Approval' && '@ViewBag.level' != '@Model.ApproveLevel') {
                swal({ title: "Attention!", text: 'Approval Sudah Ditindaklanjuti!', type: "info" });
            }

            initSelect2('ars', '@GlobalConst.BindArchiveRetentionByParam');
            initSelect2('apr', '@GlobalConst.BindApprovalByParam');
            initGMD();

            var menuActive = 'Arsip Aktif'
            var subMenuActive = 'Sirkulasi Arsip'

            $('ol.breadcrumb').children(':first-child').next().html(menuActive);
            $('ol.breadcrumb').children(':first-child').next().next().html(subMenuActive);
            $('.page-heading').children().children('h2').html(subMenuActive);
            $('.ibox-title').children('h5').html(subMenuActive);

            $('#txtSubSubjectClassificationId').select2({
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: '-- Select Sub-Subject Classification --',
                ajax: {
                    url: '@Url.Action(GlobalConst.BindSubSubjectClassificationByArchiveUnitId, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            id: $('#txtArchiveUnitId').val(),
                            param: params.term
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var dataResult = $.map(data, function (item) {

                            return {
                                text: item.subSubjectClassificationName,
                                id: item.subSubjectClassificationId
                            }
                        });
                        return {
                            results: dataResult
                        };
                    }
                }
            });
            $('#txtTypeStorageId').select2({
                theme: 'bootstrap4',
                allowClear: true,
                placeholder: '-- Select Type Storage --',
                ajax: {
                    url: '@Url.Action(GlobalConst.BindTypeStorageByArchiveUnitId, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive })',
                    type: "POST",
                    data: function (params) {
                        var query = {
                            id: $('#txtArchiveUnitId').val(),
                            param: params.term
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var dataResult = $.map(data, function (item) {

                            return {
                                text: item.typeStorageName,
                                id: item.typeStorageId
                            }
                        });
                        return {
                            results: dataResult
                        };
                    }
                }
            });

            $('#listdtlArs').on('click', '.remove', function () {
                var sisa = $('#txtSisa').val();
                var vol = $(this).parent().prev().find('.volume-row').val();
                var total = parseInt(sisa) + parseInt(vol);
                $('#txtSisa').val(total);

                var child = $(this).closest('tr').nextAll();
                $(this).closest('tr').remove();
            });
        });
    </script>
}