@using Ardita.Globals;
@using Ardita.Models.ViewModels;
@model Ardita.Models.DbModels.TrxArchiveMovement
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = Const.ViewStart;

    FormModel form = Html.Form();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pemindahan Arsip</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(Const.Index, Const.Home, new {Area = Const.General})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Archive Active
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(Const.Index, Const.ArchiveMovement, new {Area = Const.ArchiveActive})">Pemindahan Arsip</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@form.LastBreadcrumb</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pemindahan Arsip</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frmPosition" role="form" enctype="multipart/form-data" asp-controller="@form.CurrentController" asp-area="@form.CurrentArea" asp-action="@form.FormAction">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Kode Registrasi</label>
                                                <input type="hidden" asp-for="ArchiveMovementId">
                                                <input type="hidden" asp-for="ApproveLevel">
                                                <input type="hidden" asp-for="ApproveMax">
                                                <input type="hidden" asp-for="CreatedBy">
                                                <input type="hidden" asp-for="CreatedDate">
                                                <input type="hidden" asp-for="UpdatedBy">
                                                <input type="hidden" asp-for="UpdatedDate">
                                                <input type="hidden" asp-for="IsActive">
                                                <input type="hidden" asp-for="StatusId">
                                                <input type="text" placeholder="" id="txtCode" class="form-control" asp-for="MovementCode" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label>Nama Pemindahan</label>
                                                <input type="text" placeholder="" id="txtName" class="form-control @Html.Raw(form.isInput ? Const.Required : Const.Disabled)" asp-for="MovementName">
                                            </div>
                                            <div class="form-group">
                                                <label>Jenis Penyimpanan</label>
                                                <select onchange="getTypeStorageDetail($(this))" class="select2_demo_1 form-control @Html.Raw(form.isInput ? Const.Required : Const.Disabled)" asp-for="TypeStorageId" asp-items="ViewBag.listTypeStorage" data-placeholder="-- Pilih Jenis Penyimpanan --"><option value=""></option></select>
                                            </div>
                                            <div class="form-group">
                                                <label>Total Volume</label>
                                                <input readonly type="text" placeholder="" id="txtTotal" class="form-control @Html.Raw(form.isInput ? Const.Required : Const.Disabled)" asp-for="TotalVolume">
                                            </div>
                                            <div class="form-group">
                                                <label>Sisa Volume</label>
                                                <input readonly type="text" placeholder="" id="txtSisa" class="form-control" asp-for="DifferenceVolume">
                                            </div>
                                            <div class="form-group">
                                                <label>Jadwal Pemindahan</label>
                                                <input type="date" id="txtSchedule" class="form-control @Html.Raw(form.isInput ? Const.Required : Const.Disabled)" asp-for="DateSchedule">
                                            </div>
                                            <div class="form-group">
                                                <label>Deskripsi</label>
                                                <textarea placeholder="" id="txtDesc" class="form-control @Html.Raw(form.isInput ? Const.Required : Const.Disabled)" asp-for="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-success btn-sm pull-right" style="margin-bottom:5px;" type="button" onclick="addRow($(this), 'apr')" id="addApr" @Html.Raw(form.isInput ? string.Empty : Const.Hidden)><i class="fa fa-plus"></i> Tambah Approval</button>
                                        <table class="table table-condensed" style="border-radius: unset;width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Approval</th>
                                                </tr>
                                            </thead>
                                            <tbody id="listdtlApr">
                                                @if (ViewBag.approval.Count > 0)
                                                {
                                                    foreach (Ardita.Models.DbModels.TrxApproval item in ViewBag.approval)
                                                    {
                                                        <tr>
                                                            <td><button class="btn btn-danger btn-sm minApr" @Html.Raw(form.isInput ? string.Empty : Const.Hidden) @Html.Raw(ViewBag.approval.Count > 1 ? string.Empty : "style='display:none'") type="button" onclick="removeRow($(this), 'Apr')"><i class="fa fa-trash"></i></button></td>
                                                            <td style="width:95%">
                                                                <select onchange="checkDuplicate($(this), 'apr')" class="select2_demo_1 form-control apr @Html.Raw(form.isInput ? Const.Required : Const.Disabled)" name="approval[]" asp-items="ViewBag.listApproval" data-placeholder="-- Pilih Approval --"><option value="@item.EmployeeId" selected>@item.Employee.Name</option></select>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td><button class="btn btn-danger btn-sm minApr" @Html.Raw(form.isInput ? string.Empty : Const.Hidden) style="display:none" type="button" onclick="removeRow($(this), 'Apr')"><i class="fa fa-trash"></i></button></td>
                                                        <td style="width:95%">
                                                            <select onchange="checkDuplicate($(this), 'apr')" class="select2_demo_1 form-control apr @Html.Raw(form.isInput ? Const.Required : Const.Disabled)" name="approval[]" asp-items="ViewBag.listApproval" data-placeholder="-- Pilih Approval --"><option value=""></option></select>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success btn-sm pull-right" style="margin-bottom:5px;" type="button" onclick="addRow($(this), 'ars')" id="addArs" @Html.Raw(form.isInput ? string.Empty : Const.Hidden)><i class="fa fa-plus"></i> Tambah Arsip</button>
                                        <table class="table table-condensed" style="border-radius: unset;width:100%">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Arsip</th>
                                                    <th>Pemilik</th>
                                                    <th>Volume</th>
                                                </tr>
                                            </thead>
                                            <tbody id="listdtlArs">
                                                @if (ViewBag.subDetail.Count > 0)
                                                {
                                                    foreach (Ardita.Models.DbModels.TrxArchiveMovementDetail item in ViewBag.subDetail)
                                                    {
                                                        <tr>
                                                            <td><button class="btn btn-danger btn-sm minArs" @Html.Raw(form.isInput ? string.Empty : Const.Hidden) @Html.Raw(ViewBag.subDetail.Count > 1 ? string.Empty : "style='display:none'") type="button" onclick="removeRow($(this), 'Ars')"><i class="fa fa-trash"></i></button></td>
                                                            <td style="width:55%">
                                                                <select onchange="checkDuplicate($(this), 'ars')" class="select2_demo_1 form-control ars @Html.Raw(form.isInput ? Const.Required : Const.Disabled)" name="archive[]" data-placeholder="-- Pilih Arsip --"><option value="@item.ArchiveId" selected>@item.Archive.TitleArchive</option></select>
                                                            </td>
                                                            <td style="width:20%">
                                                                <input readonly type="text" class="form-control creator" value="@item.Archive.Creator.CreatorName" />
                                                            </td>
                                                            <td style="width:20%">
                                                                <input readonly type="text" class="form-control volume" value="@item.Archive.Volume" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td><button class="btn btn-danger btn-sm minArs" @Html.Raw(form.isInput ? string.Empty : Const.Hidden) style="display:none" type="button" onclick="removeRow($(this), 'Ars')"><i class="fa fa-trash"></i></button></td>
                                                        <td style="width:55%">
                                                            <select onchange="checkDuplicate($(this), 'ars')" class="select2_demo_1 form-control ars @Html.Raw(form.isInput ? Const.Required : Const.Disabled)" name="archive[]" asp-items="ViewBag.listArchiveRetention" data-placeholder="-- Pilih Arsip --"><option value=""></option></select>
                                                        </td>
                                                        <td style="width:20%">
                                                            <input readonly type="text" class="form-control creator" />
                                                        </td>
                                                        <td style="width:20%">
                                                            <input readonly type="text" class="form-control volume" />
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                    <a href="@Url.Action(Const.Index, Const.ArchiveMovement, new {Area = Const.ArchiveActive})" class="btn btn-sm btn-danger float-right m-t-n-xs">Cancel</a>
                                    @if (form.isSubmitForm)
                                    {
                                        if(form.CurrentAction != Const.Approval)
                                        {
                                            <button class="btn btn-sm btn-primary float-right m-t-n-xs mr-1" type="submit">@(form.CurrentAction == Const.Preview ? form.SubmitText : form.SaveText)</button>
                                        }

                                        if (form.CurrentAction == Const.Approval && ViewBag.level == Model.ApproveLevel)
                                        {
                                            <button class="btn btn-sm btn-primary float-right m-t-n-xs mr-1" type="submit">@form.SubmitText</button>
                                        }
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">

        function addRow(e, name) {
            var nameCapital = toCapitalCase(name);
            $(`.${name}`).select2('destroy');
            var elClone = $(`#listdtl${nameCapital}`).children("tr:first-child").clone();
            elClone.find(`.${name}`).val('');
            if (name == 'ars') {
                elClone.find('.creator').val('');
                elClone.find('.volume').val('');
            }
            elClone.appendTo(`#listdtl${nameCapital}`);
            $(`.min${nameCapital}`).show();
            var bindName = name == 'ars' ? '@Const.BindArchiveRetentionByParam' : '@Const.BindEmployeeByParam';
            initSelect2(name, bindName);
        }

        function removeRow(e, name) {
            e.parent().parent().remove();
            var countClass = $(`.min${name}`).length;
            if (countClass < 2) {
                $(`#Add${name}`).children("tr:first-child").children('td:first-child').children().hide();
            }
        }

        function initSelect2(name, act) {
            $(`.${name}`).each(function () {
                $(this).select2({
                    minimumInputLength: 0,
                    theme: 'bootstrap4',
                    allowClear: true,
                    ajax: {
                        url: '@Url.Action("action", Const.ArchiveMovement, new { Area = Const.ArchiveActive })'.replace('action', act),
                        type: "POST",
                        data: function (params) {
                            var query = {
                                param: act == '@Const.BindArchiveRetentionByParam' ? `${params.term == undefined ? '' : params.term},${'@Model.ArchiveMovementId'},${'@Const.ArchiveMovement'}` : params.term
                            }
                            return query;
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        }
                    }
                });
            });
        }

        function checkDuplicate(e, name) {

            if($('#txtSisa').val() == ''){
                swal({ title: "Failed!", text: 'Harap Pilih Jenis Penyimpanan Terlebih Dahulu', type: "info" }, function () {
                    e.val('').trigger('change');
                    e.parent().next().children('.creator').val('');
                    e.parent().next().next().children('.volume').val('');
                });
                return;
            }

            var Id = e.val();
            if (!e.hasClass('current')){

                e.addClass('current');

                var totalVolume = 0;

                if (e.hasClass(name)) {
                    $(`.${name}`).each(function () {
                        if (!$(this).hasClass('current')) {
                            if (Id == $(this).val()) {
                                swal({ title: "Failed!", text: 'Terdapat input duplikat', type: "info" }, function () {
                                    e.val('').trigger('change');
                                    e.parent().next().children('.creator').val('');
                                    e.parent().next().next().children('.volume').val('');
                                });
                                return;
                            }
                        }

                        totalVolume += $(this).parent().next().next().children('.volume').val() == '' ? 0 : parseInt($(this).parent().next().next().children('.volume').val());
                    });
                }

                if(name == 'ars'){
                    getArchiveDetail(e, Id, totalVolume);
                }
                
            }
            e.removeClass('current');
        }

        function getArchiveDetail(e, Id, totalVolume){
            var url = '@Url.Action("GetDetailArchive", Const.ArchiveMovement, new { Area = Const.ArchiveActive })';
            var param = new Object();
            param.Id = Id;

            ajaxcallreturn(url, 'POST', param, '', 'application/json; charset=UTF-8').then(function (result) {
                e.parent().next().children('.creator').val(result.creator.creatorName);
                e.parent().next().next().children('.volume').val(result.volume);

                var sisa = parseInt($('#txtSisa').val());

                totalVolume += result.volume;

                if(totalVolume > sisa){
                    swal({ title: "Failed!", text: 'Volume Melebihi Kapasitas, Harap pilih Arsip lain!', type: "info" }, function () {
                        e.val('').trigger('change');
                        e.parent().next().children('.creator').val('');
                        e.parent().next().next().children('.volume').val('');
                    });
                    return;
                }

                sisa -= result.volume;
                $('#txtSisa').val(sisa);
            });
        }

        function getTypeStorageDetail(e){
            var url = '@Url.Action("GetDetailTypeStorage", Const.ArchiveMovement, new { Area = Const.ArchiveActive })';
            var param = new Object();
            param.Id = e.val();

            ajaxcallreturn(url, 'POST', param, '', 'application/json; charset=UTF-8').then(function (result) {
                
                var totalVolume = 0;
                $(`.volume`).each(function () {
                    totalVolume += $(this).val() == '' ? 0 : parseInt($(this).val());
                });

                if (totalVolume > result.volume) {
                    swal({ title: "Failed!", text: 'Volume Melebihi Kapasitas, Harap pilih Jenis Penyimpanan lain!', type: "info" }, function () {
                        e.val('').trigger('change');
                        $('#txtTotal').val('');
                        $('#txtSisa').val('');
                    });
                    return;
                }

                var sisa = result.volume - totalVolume;

                $('#txtTotal').val(result.volume);
                $('#txtSisa').val(sisa);
            });
        }

        $(document).ready(function () {

            if ('@form.CurrentAction' == '@Const.Approval' && '@ViewBag.level' != '@Model.ApproveLevel'){
                swal({ title: "Attention!", text: 'Approval Sudah Ditindaklanjuti!', type: "info" });
            }

            initSelect2('ars', '@Const.BindArchiveRetentionByParam');
            initSelect2('apr', '@Const.BindEmployeeByParam');
        });
    </script>
}