@using Ardita.Extensions;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pemindahan Arsip</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(GlobalConst.Index, GlobalConst.Home, new { Area = GlobalConst.General })"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Archive Active
            </li>
            <li class="active breadcrumb-item">
                <strong>Pemindahan Arsip</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pemindahan Arsip</h5>
                    <div class="ibox-tools">
                        <a href="@Url.Action(GlobalConst.Add, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive})" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i><span class="bold"> New</span></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="tbl" class="table table-striped table-hover dataTables-example" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Action</th>
                                <th>Nomor registrasi</th>
                                <th>Nama Pemindahan</th>
                                <th>Status</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            bsCustomFileInput.init();
            var table = $('#tbl').DataTable({
                processing: true,
                serverSide: true,
                scrollX: true,
                filter: true,
                ajax: {
                    "url": '@Url.Action(GlobalConst.GetData, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive })',
                    "type": "POST",
                    "datatype": "json",
                    //"complete": function (xhr, responseText) {
                    //    console.log(xhr);
                    //    console.log(responseText); //*** responseJSON: Array[0]
                    //}
                },
                columnDefs: [
                    { width: 50, targets: 0 },
                    { width: 100, targets: 4 }
                ],
                fixedColumns: true,
                order: [[0, 'desc']],
                columns: [
                    {
                        "data": "archiveMovementId", "name": "createdDate", "orderable": false, "searchable": false, "render": function (data, type, row, meta) {
                            //console.log(row);
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    }, 
                    {
                        "data": "archiveMovementId", "name": "archiveMovementId", "orderable": false, "searchable": false,
                        "render": function (data, type, row, meta) {
                            var detail = `<a class="btn btn-sm btn-warning" href="@Url.Action(GlobalConst.Detail, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive, Id = -1 })"><i class="fa fa-eye"></i> </a>`;
                            detail = detail.replace("-1", data);

                            var edit = row.statusId == @((int)GlobalConst.STATUS.Rejected) || row.statusId == @((int)GlobalConst.STATUS.ApprovalProcess) || row.statusId == @((int)GlobalConst.STATUS.Approved) ? '' : `<a class="btn btn-sm btn-primary" href="@Url.Action(GlobalConst.Update, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive, Id = -1 })"><i class="fa fa-pencil"></i> </a>`;
                            edit = edit.replace("-1", data);

                            var remove = row.statusId == @((int)GlobalConst.STATUS.Rejected) || row.statusId == @((int)GlobalConst.STATUS.ApprovalProcess) || row.statusId == @((int)GlobalConst.STATUS.Approved) ? '' : `<a class="btn btn-sm btn-danger" href="@Url.Action(GlobalConst.Remove, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive, Id = -1 })"><i class="fa fa-trash"></i> </a>`;
                            remove = remove.replace("-1", data);

                            var submit = row.statusId == @((int)GlobalConst.STATUS.Rejected) || row.statusId == @((int)GlobalConst.STATUS.ApprovalProcess) || row.statusId == @((int)GlobalConst.STATUS.Approved) ? '' : `<a class="btn btn-sm btn-success" href="@Url.Action(GlobalConst.Preview, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive, Id = -1 })"><i class="fa fa-paper-plane"></i> </a>`;
                            submit = submit.replace("-1", data);

                            var download = row.statusId != @((int)GlobalConst.STATUS.Approved) ? '' : `<a class="btn btn-sm btn-primary" href="@Url.Action(GlobalConst.DownloadFile, GlobalConst.ArchiveMovement, new { Area = GlobalConst.ArchiveActive, Id = -1 })"><i class="fa fa-download"></i> </a>`;
                            download = download.replace("-1", data);

                            var JoinButton = edit.concat(" ", detail).concat(" ", remove).concat(" ", submit).concat(" ", download);
                            return JoinButton;
                        }
                    },
                    { "data": "movementCode", "name": "movementCode", "autoWidth": true },
                    { "data": "movementName", "name": "movementName", "autoWidth": true },
                    {
                        "data": "status", "name": "status.name", "autoWidth": true, "render": function (data, type, row, meta) {
                            return `<span class="badge badge-pill center ${row.color}">${data}</span>`;
                        }
                    },
                    { "data": "note", "name": "note", "autoWidth": true },
                ]
            });
        });
    </script>
}